/*!
 * DBJR TOOL Admin
 * Built on Bootstrap UI.
 *
 * Developed by VisionApps (www.visionapps.cz)
 */


// Bootstrap UI
@import 'bootstrap.ui/src/less/bootstrap-ui';

// Colorpicker
@import 'bootstrap-colorpicker/src/less/colorpicker';

// Leaflet maps
@import (inline) "leaflet/dist/leaflet.css";
@import (inline) "leaflet.markercluster/dist/MarkerCluster.css";
@import (inline) "leaflet.markercluster/dist/MarkerCluster.Default.css";

@import 'config/fonts';

// Configuration
@external-components-path: '../bower_components/';
@icon-font-path: '../fonts/glyphicons/';
@colorpicker-img-path: '../vendor/bootstrap-colorpicker/dist/img/bootstrap-colorpicker/';

@screen-xl-min: 1300px;
@screen-xxl-min: 1400px;

@blue: #428bca;
@gray-light: #ddd;
@turqoise: #5fa4a0;

@brand-primary: darken(@turqoise, 6%);
@link-color: @blue;
@label-disabled-color: #777;
@footer-text: fade(#666, 50%);
@footer-link-color: @footer-text;

@blockquote-font-size: 1em;
@back-link-decoration: '← ';


// Custom Modifications
// ====================

* {
    hyphens: auto;
}

.table .checkbox {
    margin-top: 0;
}

.overflow-horizontal {
    word-break: break-all;
}

.overflow-vertical {
    @media (min-width: @screen-md-min) {
        position: relative;
        height: 18 * @line-height-computed;

        &-inner {
            height: 100%;
            overflow-y: auto;
            border-bottom: 1px solid @hr-border;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 20px; // make place for scrollbar
            bottom: 1px; // make place for border
            height: 1.5 * @line-height-computed;
            #gradient > .vertical(fade(#fff, 0), #fff);
        }
    }
}

.text-overflow-small {
    .text-overflow();
    max-width: 9em;
}

.sortable {
    > tr > td,
    > .list-group-item {
        background-color: #fff;
        cursor: move;
    }
}

.js-table-rows-toggle {
    td {
        cursor: pointer;
    }
}

.text-danger-block {
    .alert();
    .alert-danger();
    display: block;
    list-style: none; // reset error lists

    .form-group &:not(:only-child) {
        margin-top: @line-height-computed / 2;
    }
}

.navbar-brand {
    svg {
        margin-top: -3px;
    }
}

// Ensure optimum legibility.
.panel-default {
    .panel-heading {
        a,
        .panel-title {
            color: @text-color;
        }
    }
}

.panel-primary {
    .panel-heading {
        a,
        .panel-title {
            color: #fff;
        }
    }
}

// Remove bullets from error messages.
.alert li {
    display: block;
}

.embed-responsive {
    min-width: 200px;
}

label.required:after {
    color: @brand-primary;
}

.form-actions-right {
    float: right;
    clear: right;
    margin-top: -2px;
    margin-bottom: @line-height-computed / 2;
}

.text-wrap {
    white-space: normal;
}

.label-disabled {
    cursor: default;
    border: 1px solid @label-disabled-color;
    background-color: transparent;
    color: #000;
}

.item-action.has-badge {
    position: relative;

    .badge-small {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        font-size: 6px;
        width: 14px;
        height: 14px;
        padding: 2px;
    }
}

.badge-success {
    background-color: @brand-success;
}

// Enhance layout
@media screen and (min-width: @screen-xl-min) {
    .container {
        width: @screen-xl-min - @grid-gutter-width;
    }
}

@media screen and (min-width: @screen-xxl-min) {
    .container {
        width: @screen-xxl-min - @grid-gutter-width;
    }
}

// Tables
.table-extra-condensed {
    &:extend(.table-condensed all);
    &:extend(.small);
}

.table-extra-condensed [data-toggle="sort"] {
    white-space: initial;
}

.btn-voting { max-width: 4em;

    @media screen and (min-width: @screen-sm) {
        max-width: 7em;
    }

    g[id^="label-"] {
        .translate(3px, 0);
    }

    g[id^="BUTTON1"] {
        transition: transform .3s ease .1s;
    }

    &:hover {
        g[id^="BUTTON1"] {
            .translate(0, 5px);
        }
    }

    &:active,
    &:focus {
        g[id^="BUTTON1"] {
            .translate(0, 10px);
        }
    }

    g[id^="BODY1"] {
        path {
            fill: @brand-primary !important;
        }
    }

    g[id^="TOP"] {
        ellipse:first-child {
            fill: @brand-primary !important;
        }
    }
}

.form-block-bordered {
    padding: 0 15px;
    margin: 30px auto;
    border: 1px solid @gray-light;
}
