/*!
 * DBJR TOOL Admin
 * Built on Synergic UI.
 *
 * Developed by VisionApps (www.visionapps.cz)
 */


// Synergic UI
@import "synergic-ui/src/less/synergic-ui";

// Configuration (must be last to override)
@import "variables";



// ===========================================================
// To be moved to Synergic UI
// ===========================================================

.table .checkbox {
    margin-top: 0;
}

.overflow-horizontal {
    word-break: break-all;
}

.overflow-vertical {
    @media (min-width: @screen-md-min) {
        position: relative;
        height: 18 * @line-height-computed;

        &-inner {
            height: 100%;
            overflow-y: auto;
            border-bottom: 1px solid @hr-border;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 20px; // make place for scrollbar
            bottom: 1px; // make place for border
            height: 1.5 * @line-height-computed;
            #gradient > .vertical(fade(#fff, 0), #fff);
        }
    }
}

.text-overflow-small {
    .text-overflow();
    max-width: 9em;
}

.sortable {
    > tr > td,
    > .list-group-item {
        background-color: #fff;
        cursor: move;
    }
}

.js-table-rows-toggle {
    td {
        cursor: pointer;
    }
}


// ===========================================================
// Custom modifications and temporary hacks.
// ===========================================================

.text-danger-block {
    list-style: none;
}

.navbar-brand {
    svg {
        margin-top: -3px;
    }
}

// Remove bullets from error messages. Better to be fixed in markup.
.alert li {
    display: block;
}

.embed-responsive {
    min-width: 200px;
}

label.required:after {
    color: @brand-primary;
}
