// Configuration: Admin Variables


// Paths
@icon-font-path: 'font/glyphicons/';
@imgPath: 'vendor/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/';

// Colors
@blue: #428bca;
@turqoise: #5fa4a0;

@brand-primary: darken(@turqoise, 6%);
@link-color: @blue;

@blockquote-font-size: 1em;
@back-link-decoration: '← ';
