/*!
 * DBJR
 *
 * HTML & LESS/CSS © 2013 Adam Kudrna
 *
 */

/*
 * Rule Properties Structure
 * ==============================================================================
 *
 *	1. Content:
 *		- content
 *	2. Position:
 *		- position
 *		- top/right/bottom/left
 *		- z-index
 *	3. Box Model:
 *		- display
 *		- box-sizing
 *		- (min-/max-)width
 *		- (min-/max-)height
 *		- float
 *		- clear
 *		- visibility
 *		- overflow
 *		- margin
 *		- padding
 *		- vertical-align
 *	4. Typography:
 *		- font(-...)
 *		- text(-...)
 *		- color
 *	5. Decoration:
 *		- border
 *		- background
 *		- box-shadow
 *	6. Other:
 *		- cursor
 *		- opacity
 *	7. Animations:
 *		- transition
 */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 11.565em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: normal 0.8em Arial, sans-serif;
  line-height: 1.565em;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}

h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i,
.h1 i,
.h2 i,
.h3 i,
.h4 i,
.h5 i,
.h6 i {
  margin-right: .5ex;
}

h1,
.h1 {
  margin-bottom: 1.25em;
  font: normal 2em/1.4em "Paytone One", sans-serif;
  color: #fc9026;
  text-transform: uppercase;
}

h2,
.h2,
legend {
  margin-bottom: .75em;
  font-size: 1.23em;
  font-weight: bold;
  line-height: 1.3em;
  color: #02afdb;
}

h3,
.h3 {
  margin-bottom: .5em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
}

h4,
.h4 {
  margin-bottom: .5em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.6em;
}

hgroup h1 {
  margin-bottom: .28em;
  color: #02afdb;
}

hgroup h2 {
  color: #02afdb;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

small {
  font-size: .9em;
}

time {
  font-size: .9em;
  color: #999999;
}

figure {
  margin: 0;
}

figure img {
  margin-bottom: 1.25em;
}

figure figcaption {
  font-style: italic;
  line-height: 135%;
}

::selection {
  color: #ffffff;
  background-color: #fc9026;
}

.lead {
  font-size: 1.23em;
  line-height: 1.5em;
}

.light {
  font-weight: normal;
}

.muted {
  color: #999999;
}

a {
  color: #0196bc;
}

a:hover,
a:focus {
  color: #fc9026;
}

h1 a:hover,
h1 a:focus {
  text-decoration: none;
}

a.logo {
  text-decoration: none;
}

ul,
ol,
dl {
  margin-bottom: 2em;
}

hr {
  margin: 0;
  border-top-color: rgba(102, 102, 102, 0.25);
}

img.pull-left {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

body {
  background-color: #ffffff;
}

.document-wrap {
  padding-top: 1.2em;
}

.document-wrap > .container {
  padding: 0 1.538462em;
  color: #ffffff;
  background-color: #5fa4a0;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
}

.container > header .header-region {
  padding-top: 1.2em;
}

.container > header .form-search,
.container > header .btn-block {
  margin-right: -0.769231em;
}

.container > header .form-search {
  position: relative;
  margin: -1.9em 0 0.5em;
}

.container > header .btn-block {
  text-align: left;
}

.main-title {
  text-align: center;
}

.main-title h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  line-height: 120%;
}

.main-title h1 a {
  color: #000000;
}

.main-title h1 a:hover,
.main-title h1 a:focus {
  color: #fc9026;
}

.introduction {
  margin: 0 10% 1.2em;
  font-size: 1.923em;
  font-weight: bold;
  line-height: 115%;
  text-align: center;
}

.container > .main {
  min-height: 25em;
}

.container > .main .span3 {
  width: 180px;
}

.container > .main .span6 {
  width: 540px;
}

.container > .main .span9 {
  width: 710px;
}

.container > .main section {
  padding: 1.5em 0;
}

.container > .main .content-holder {
  position: relative;
  color: #444444;
  background-color: #ffffff;
}

.container > .main .main-content {
  padding: 3em 0;
}

.container > .main .main-content.content-holder {
  padding: 3em 1.538462em;
}

.container > .main .main-content.span9 {
  width: 720px;
}

.container > .main .main-content.span9 h1 {
  margin-right: 5em;
}

.container > .main .print {
  position: absolute;
  top: 3em;
  right: 1.538462em;
  color: #000000;
}

.container > .main .print:hover,
.container > .main .print:focus {
  color: #fc9026;
  text-decoration: none;
}

.container > .main aside {
  padding: 3em 0 3em 1.538462em;
  color: #444444;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container > .main section + aside {
  padding: 6em 1.538462em 3em 0;
}

.container > .main .offset-left {
  margin-left: 1.538462em;
}

.container > .main .offset-right {
  margin-right: 1.538462em;
}

.top-link {
  padding: 1em 1.538462em;
  text-align: center;
  background-color: #ffffff;
}

.top-link a {
  color: #000000;
}

.top-link a:hover,
.top-link a:focus {
  color: #fc9026;
  text-decoration: none;
}

.top-link.transparent {
  background-color: transparent;
}

.top-link.transparent a {
  color: white;
}

.top-link.transparent a:hover,
.top-link.transparent a:focus {
  color: #000000;
}

body > footer {
  color: #000000;
  background-color: #ffffff;
}

body > footer h3 {
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: normal;
  line-height: 135%;
}

body > footer section {
  padding: 1.5em 0;
}

body > footer a {
  color: #0196bc;
  text-decoration: underline;
}

body > footer a:hover,
body > footer a:focus {
  color: #fc9026;
}

body > footer .contact {
  line-height: 135%;
  text-align: right;
}

.btn {
  min-width: 30px;
  min-height: 30px;
  padding: .25em .5em;
  font: normal 1.538em/100% "Yanone Kaffeesatz", sans-serif;
  color: #000000;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  background: #00cbff none;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn i {
  margin-right: .4em;
  vertical-align: baseline;
}

.btn i.icon-white {
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  color: #000000;
  background: #fc9026 none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn:active,
.btn.active {
  padding-top: .35em;
  padding-bottom: .15em;
  color: #000000;
  background: #fc9026 none;
  -webkit-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
}

.btn + .btn {
  margin-left: 1.538462em;
}

p .btn {
  margin-top: .5em;
}

.btn-icon i {
  margin-right: 0;
}

.btn-primary {
  text-shadow: 0 -1px 0 #000000;
  background-color: #fc9026;
}

.btn-primary i {
  text-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00cbff;
}

.btn-primary:active,
.btn-primary.active {
  padding-top: .35em;
  padding-bottom: .15em;
  color: #000000;
  background: #00cbff none;
  -webkit-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
}

.disabled .btn,
.btn.disabled,
.btn[disabled] {
  color: #999999;
  background-color: grayLight;
}

.input-append .btn,
.input-prepend .btn,
.btn-group .btn {
  font-size: 1rem;
}

.login input[type="submit"] {
  min-width: 30px;
  min-height: 30px;
  padding: .25em .5em;
  font: normal 1.538em/100% "Yanone Kaffeesatz", sans-serif;
  color: #000000;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  background: #00cbff none;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.login input[type="submit"] i {
  margin-right: .4em;
  vertical-align: baseline;
}

.login input[type="submit"] i.icon-white {
  color: #ffffff;
}

.login input[type="submit"]:hover,
.login input[type="submit"]:focus {
  color: #000000;
  background: #fc9026 none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.login input[type="submit"]:active,
.login input[type="submit"].active {
  padding-top: .35em;
  padding-bottom: .15em;
  color: #000000;
  background: #fc9026 none;
  -webkit-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.2);
}

.login input[type="submit"] + .btn {
  margin-left: 1.538462em;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: .28em .75em;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #fc9026;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #000000;
  border-color: #000000;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #fc9026;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #ffffff;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #ffffff;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #ffffff;
  background-color: #cc0000;
  border-color: #ffffff;
}

.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.form-vertical .control-group {
  margin-bottom: .25em;
}

.form-vertical .form-actions {
  padding: .25em 0 0;
  margin: 0;
  background: none;
  border-top-style: none;
}

.form-vertical .form-actions .inline-actions {
  display: inline-block;
  margin-left: 3.076924em;
}

.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.form-search input.search-query {
  width: 170px;
  padding: .34em .75em;
  color: #000000;
  background-color: #fc9026;
  border-right: 1px solid #ffffff;
  border-style: none;
}

.form-search input.search-query:-moz-placeholder {
  color: #f7f7f7;
}

.form-search input.search-query:-ms-input-placeholder {
  color: #f7f7f7;
}

.form-search input.search-query::-webkit-input-placeholder {
  color: #f7f7f7;
}

.form-search input.search-query,
.form-search .input-append .search-query,
.form-search .input-prepend .search-query,
.form-search .input-append .btn,
.form-search .input-prepend .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

form dl {
  margin-bottom: 1em;
}

form dd {
  margin-left: 0;
}

.form-inline dt {
  display: none;
}

.form-inline dd {
  display: inline-block;
  margin-right: .75ex;
}

.login #submit-label {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0 0 16.923082em;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 16.923082em;
}

.icon-orange {
  color: #fc9026;
}

.label {
  font-weight: normal;
  color: #000000;
  text-shadow: none;
  background-color: #00cbff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.label.sticker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 110px;
  height: 90px;
  padding: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.label.sticker.label-bald-abstimmen {
  background-image: url('../images/label_baldabstimmen.png');
}

.label.sticker.label-ergebnisse {
  background-image: url('../images/label_ergebnisse.png');
}

.label.sticker.label-mitmachen {
  background-image: url('../images/label_mitmachen.png');
}

.label.sticker.label-nur-noch-heute {
  background-image: url('../images/label_nurnochheute.png');
}

.label.sticker.label-reaktion {
  background-image: url('../images/label_reaktion.png');
}

.label.sticker.label-mitmachen-black {
  right: 0;
  left: auto;
  width: 104px;
  height: 126px;
  font-size: 1em;
  background-image: url('../images/label_mitmachen-black.png');
}

.badge-tag {
  padding-left: .5em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 210%;
  color: #000000;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.badge-tag-small {
  width: 73px;
  height: 52px;
  background-image: url('../images/bubble-small.png');
}

.hero-unit {
  padding: 2em;
  margin-top: 1em;
  font-size: 1em;
  color: #000000;
  text-align: center;
  background: #f7f7f7;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.hero-unit h1 {
  font-size: 6.666em;
  line-height: 120%;
  text-align: center;
}

.hero-unit h1 a {
  color: #000000;
}

.hero-unit h1 a:hover,
.hero-unit h1 a:focus {
  color: #fc9026;
}

.hero-unit p {
  margin: 1em 0 1.5em;
  line-height: 150%;
}

.hero-unit.main-header {
  margin-top: 1.85em;
}

.hero-unit.with-teaser {
  margin-bottom: 6.5em;
}

.hero-unit.with-teaser p {
  margin-bottom: 2.6em;
}

.main-navigation .nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.main-navigation .nav > li {
  display: inline;
  float: none;
}

.main-navigation .nav > li > a {
  display: inline-block;
  padding: .3em .5ex;
  margin: 0;
  margin-right: -1px;
  font: normal 2em "Yanone Kaffeesatz", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #00cbff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.main-navigation .nav > li > a:hover,
.main-navigation .nav > li > a:focus {
  background-color: #fc9026;
}

.main-navigation .nav > .active > a {
  color: #f7f7f7;
  background-color: #000000;
}

.teaser {
  z-index: 1;
  margin: 0 6em -6.5em;
}

.teaser > li > a {
  padding: .15em 0 .15em 1em;
  margin: 0;
  color: #000000;
  text-align: center;
  text-shadow: none;
  background-color: #fc9026;
  border-bottom: 1px solid #ffffff;
}

.teaser > li > a .title {
  display: inline-block;
  max-width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teaser > li > a h2 {
  display: inline;
  font: normal 1.308em "Paytone One", sans-serif;
  color: inherit;
  text-transform: uppercase;
}

.teaser > li > a i {
  float: right;
  margin-top: .05em;
  margin-right: 0;
  color: #ffffff;
}

.teaser > li > a:hover,
.teaser > li > a:focus {
  background-color: #00cbff;
}

.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  cursor: pointer;
}

.consultation-nav {
  overflow: hidden;
}

.consultation-nav .nav {
  margin: 0 -8px 0 0;
}

.consultation-nav .nav > li {
  position: relative;
}

.consultation-nav .nav-tabs {
  border-bottom-style: none;
}

.consultation-nav .nav > li > * {
  position: relative;
  width: 182px;
  height: 75px;
  padding: 0.5em 1.538462em;
  margin: 0 8px 0 0;
  color: #f7f7f7;
  background-color: #000000;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.consultation-nav .nav > li > * h2 {
  font: normal 1.923em/90% "Yanone Kaffeesatz", sans-serif;
  color: #f7f7f7;
  text-transform: uppercase;
}

.consultation-nav .nav > li > * .info {
  position: absolute;
  right: .75em;
  bottom: .5em;
  display: block;
  line-height: 135%;
  text-align: right;
}

.consultation-nav .nav > li > * .bubble {
  bottom: -0.3em;
  left: 1.5em;
}

.consultation-nav .nav > li:last-child > * {
  margin-right: 0;
}

.consultation-nav .nav > li > *:before,
.consultation-nav .nav > li > *:after {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -1.5em;
  content: '';
}

.consultation-nav .nav > li > *:before {
  left: 0;
  z-index: 0;
  border-top: 1.4em solid transparent;
  border-bottom: 1.4em solid transparent;
  border-left: 0.7em solid #5fa4a0;
}

.consultation-nav .nav > li > *:after {
  left: 100%;
  z-index: 1;
  border-top: 1.4em solid transparent;
  border-bottom: 1.4em solid transparent;
  border-left: 0.7em solid #000000;
}

.consultation-nav .nav > li:first-child > *:before,
.consultation-nav .nav > li:last-child > *:after {
  display: none;
}

.consultation-nav .nav > li > a:hover,
.consultation-nav .nav > li > a:focus {
  background-color: #fc9026;
}

.consultation-nav .nav > li > a:hover:after,
.consultation-nav .nav > li > a:focus:after {
  border-left-color: #fc9026;
}

.consultation-nav .nav > .item-title > a {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.consultation-nav .nav > .item-title > a .description {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 1em;
  line-height: 135%;
  color: #000000;
  background-color: #fc9026;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 250ms ease-out;
     -moz-transition: all 250ms ease-out;
       -o-transition: all 250ms ease-out;
          transition: all 250ms ease-out;
}

.consultation-nav .nav > .item-title > a:hover .description,
.consultation-nav .nav > .item-title > a:focus .description {
  top: 0;
  color: #000000;
  background-color: #fc9026;
  opacity: 1;
  filter: alpha(opacity=100);
}

.consultation-nav .nav > .item-access input[type="text"],
.consultation-nav .nav > .item-access input[type="password"] {
  width: 6.2em;
  padding-right: .25em;
  padding-left: .25em;
  border-color: #a69f9f;
}

.consultation-nav .nav > .item-access input[type="text"]:focus,
.consultation-nav .nav > .item-access input[type="password"]:focus {
  border-color: #fc9026;
}

.consultation-nav .nav > .active > a,
.consultation-nav .nav > .active > a:hover,
.consultation-nav .nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffffff;
  border-style: none;
}

.consultation-nav .nav > .active > a h2,
.consultation-nav .nav > .active > a:hover h2,
.consultation-nav .nav > .active > a:focus h2,
.consultation-nav .nav > .active > a small,
.consultation-nav .nav > .active > a:hover small,
.consultation-nav .nav > .active > a:focus small {
  color: #000000;
}

.consultation-nav .nav > .active > a:after,
.consultation-nav .nav > .active > a:hover:after,
.consultation-nav .nav > .active > a:focus:after {
  border-left-color: #ffffff;
}

.consultation-nav .nav > li > div,
.consultation-nav .nav > .item-disabled > *,
.consultation-nav .nav > .item-disabled > a:hover,
.consultation-nav .nav > .item-disabled > a:focus {
  cursor: not-allowed;
  background-color: #a69f9f;
}

.consultation-nav .nav > li > div:after,
.consultation-nav .nav > .item-disabled > *:after,
.consultation-nav .nav > .item-disabled > a:hover:after,
.consultation-nav .nav > .item-disabled > a:focus:after {
  border-left-color: #a69f9f;
}

.consultation-preview .consultation-nav .nav > li > * {
  width: 144px;
  height: 217px;
  padding-right: .75em;
  padding-left: .75em;
}

.consultation-preview .consultation-nav .nav > li > * h2 {
  font-size: 2.154em;
  line-height: 110%;
}

.consultation-preview .consultation-nav .nav > li > *:before {
  border-left-color: #f7f7f7;
}

.consultation-preview .consultation-nav .nav > li > a:hover .bubble,
.consultation-preview .consultation-nav .nav > li > a:focus .bubble {
  margin-bottom: 1.5em;
}

.consultation-preview .consultation-nav .nav > .item-title > a {
  padding: 0;
}

.consultation-preview .consultation-nav .nav > li:first-child > *:after,
.consultation-preview .consultation-nav .nav > li:nth-child(2) > *:before {
  display: none;
}

.tertiary-navigation .nav {
  padding: 0;
  margin: 0;
}

.tertiary-navigation .nav > li > a {
  padding: .4em .5em;
  margin: 0 0 2px;
  font: normal 1.5em/120% "Yanone Kaffeesatz", sans-serif;
  color: #000000;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #02afdb;
}

.tertiary-navigation .nav > li > a:hover,
.tertiary-navigation .nav > li > a:focus {
  background-color: #fc9026;
}

.tertiary-navigation .nav > .active > a,
.tertiary-navigation .nav > .active > a:hover,
.tertiary-navigation .nav > .active > a:focus {
  color: #000000;
  background-color: #fc9026;
}

.tertiary-navigation .nav > li > ul {
  position: relative;
  padding-top: .75em;
  margin: 0 0 2px;
  list-style: none;
  background-color: #000000;
}

.tertiary-navigation .nav > li > ul > li > *:before,
.tertiary-navigation .nav > li > ul > li > *:after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
}

.tertiary-navigation .nav > li > ul > li > *:before {
  left: 50%;
  z-index: 0;
  margin-left: -1.55em;
  border-top: 0.75em solid #ffffff;
  border-right: 1.5em solid transparent;
  border-left: 1.5em solid transparent;
}

.tertiary-navigation .nav > li > ul > li > *:after {
  top: -2px;
  left: 50%;
  z-index: 1;
  margin-left: -1.4em;
  border-top: 0.7em solid #fc9026;
  border-right: 1.4em solid transparent;
  border-left: 1.4em solid transparent;
}

.tertiary-navigation .nav > li > ul > li > a {
  display: block;
  padding: 0.5em 1.538462em;
  color: #ffffff;
  text-decoration: none;
}

.tertiary-navigation .nav > li > ul > li > a:hover,
.tertiary-navigation .nav > li > ul > li > a:focus {
  color: #999999;
}

.tertiary-navigation .nav ul > .active > a,
.tertiary-navigation .nav ul > .active > a:hover,
.tertiary-navigation .nav ul > .active > a:focus {
  color: #fc9026;
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-inner {
  background: #00cbff none;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .container {
  width: 940px;
}

.navbar .nav {
  float: none;
  text-align: center;
  white-space: nowrap;
}

.navbar .nav > li {
  display: inline-block;
  float: none;
}

.navbar .nav > li > a {
  display: inline-block;
  padding: 0.5em 1ex;
  margin-right: -0.4ex;
  font: normal 1.538em/100% "Yanone Kaffeesatz", sans-serif;
  color: #000000;
  text-shadow: none;
  text-transform: uppercase;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #000000;
  background-color: #fc9026;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #f7f7f7;
  background-color: #000000;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > .licence {
  margin: .2em 0 0 1.2em;
  vertical-align: top;
}

.pagination {
  position: relative;
}

.pagination ul,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.pagination ul {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.pagination ul > li > a,
.pagination ul > li > span {
  margin: 0 1px;
  color: #000000;
  background-color: #00cbff;
  border-style: none;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
  color: #000000;
  background-color: #fc9026;
}

.pagination .prev,
.pagination .next {
  position: absolute;
  left: 0;
}

.pagination .next {
  right: 0;
  left: auto;
}

.pagination .next i {
  margin: 0 0 0 .4em;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #ffffff;
  background-color: #fc9026;
}

.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  color: #999999;
  background-color: #e8e6e6;
}

.dropdown-menu {
  padding: 1em;
  color: #ffffff;
  background-color: #a69f9f;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 0.2em 0.75em rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0.2em 0.75em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.2em 0.75em rgba(0, 0, 0, 0.4);
}

.dropdown-menu h3 {
  font: normal 2em/150% "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
}

.dropdown-menu a {
  color: #f7f7f7;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  color: #ffffff;
}

.dropdown-menu > li > a {
  padding: .5em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  color: #ffffff;
}

.dropdown-menu hr {
  margin: 1em 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #bfb9b9 none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.user-box .dropdown-menu {
  min-width: 195px;
}

article.media time {
  display: block;
  margin-bottom: .6em;
}

article.media .lead {
  margin-bottom: .5em;
  font-size: 1em;
  font-weight: bold;
  line-height: 150%;
}

article.media .actions i {
  position: relative;
  bottom: -0.15em;
}

.thumbnails {
  margin-top: 3em;
}

.thumbnail {
  padding: .75em;
  border: 0.8em solid #e8e6e6;
  -webkit-border-radius: 1.5em;
     -moz-border-radius: 1.5em;
          border-radius: 1.5em;
  -webkit-box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
}

.thumbnail h2 {
  font-size: 1.6em;
  line-height: 110%;
  color: #02afdb;
}

.questions {
  margin-bottom: 0;
}

.questions > li {
  margin-bottom: 3em;
}

.questions .span4 {
  width: 285px;
}

.questions .thumbnail {
  position: relative;
  height: 32.307702em;
}

.questions .thumbnail .badge {
  position: absolute;
  top: -1.2em;
  left: .5em;
}

.questions .thumbnail h2 {
  max-height: 4.3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.questions .thumbnail .badge + h2 {
  text-indent: 4em;
}

.questions .thumbnail a {
  text-decoration: none;
}

.questions .thumbnail a article {
  line-height: 140%;
  color: #000000;
}

.questions .thumbnail a article time {
  margin-bottom: 0;
  color: #999999;
}

.questions .thumbnail a article p {
  max-height: 3em;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
}

.questions .thumbnail a:hover article,
.questions .thumbnail a:focus article {
  background-color: #f7f7f7;
}

.questions .thumbnail .btn {
  position: absolute;
  right: .5em;
  bottom: .5em;
  left: .5em;
}

.well {
  padding: 1.5em 1.538462em;
  margin-bottom: 1em;
  color: #000000;
  background-color: #fc9026;
  border-style: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.well h2,
.well h3,
.well h4 {
  color: #ffffff;
}

.well h2 {
  font-size: 1.6em;
  line-height: 120%;
}

.well p {
  line-height: 135%;
}

.well a {
  color: #ffffff;
}

.well a:hover,
.well a:focus {
  color: #000000;
}

.well-large {
  position: relative;
  padding: 1em 1.5em;
  margin: 2em 0;
  color: #ffffff;
  background-color: #fc9d3f;
  background-image: -moz-linear-gradient(left, #e77403, #fc9d3f);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#e77403), to(#fc9d3f));
  background-image: -webkit-linear-gradient(left, #e77403, #fc9d3f);
  background-image: -o-linear-gradient(left, #e77403, #fc9d3f);
  background-image: linear-gradient(to right, #e77403, #fc9d3f);
  background-repeat: repeat-x;
  border: 0.8em solid #e8e6e6;
  -webkit-border-radius: 1.5em;
     -moz-border-radius: 1.5em;
          border-radius: 1.5em;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe77403', endColorstr='#fffc9d3f', GradientType=1);
  -webkit-box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.5);
}

.well-large h2 {
  font-size: 2.692em;
  line-height: 120%;
}

.well-large .label.sticker {
  top: -0.8em;
  right: -0.8em;
}

.well-large .btn {
  -webkit-box-shadow: 0.15em 0.2em 0.2em rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0.15em 0.2em 0.2em rgba(0, 0, 0, 0.5);
          box-shadow: 0.15em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

.well-large .btn:hover,
.well-large .btn:focus,
.well-large .btn:active,
.well-large .btn.active {
  color: #00cbff;
  background-color: #000000;
}

.bubble {
  position: absolute;
  z-index: 3;
  display: block;
  color: #000000;
  text-align: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: margin 250ms ease;
     -moz-transition: margin 250ms ease;
       -o-transition: margin 250ms ease;
          transition: margin 250ms ease;
}

.bubble h3 {
  margin-bottom: .1em;
  font: normal 1.846em/100% "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
}

.bubble span {
  line-height: 125%;
}

.bubble.bubble-large {
  width: 167px;
  height: 143px;
  padding: 1.8em 2em 4em;
  background-image: url('../images/bubble-large.png');
}

.main-title h1,
.main-header h1 {
  position: relative;
}

.main-title h1:after,
.main-header h1:after {
  position: absolute;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  content: '';
}

.main-header h1:after {
  bottom: .25em;
  left: 83%;
  width: 147px;
  height: 128px;
  background-image: url('../images/bubble_mitwirkung-large.png');
}

.main-title h1:after {
  top: -0.666em;
  left: 67%;
  width: 83px;
  height: 74px;
  background-image: url('../images/bubble_mitwirkung.png');
}

.user-box .user {
  width: 77%;
  overflow: hidden;
  font-size: .9em;
  line-height: 130%;
  text-align: right;
}

.user-box .user a {
  color: #f7f7f7;
}

.user-box .user a:hover,
.user-box .user a:focus {
  color: #ffffff;
}

.user-box .user:hover,
.user-box .user:focus {
  z-index: 1;
  overflow: visible;
}

.consultation-preview {
  position: relative;
  padding: 0.3em 1.538462em 1.538462em;
  margin-bottom: 1.5em;
  background-color: #f7f7f7;
}

.consultation-preview hgroup {
  text-align: center;
}

.consultation-preview hgroup h1 {
  margin-bottom: 0;
  font-size: 2.538em;
  line-height: 135%;
}

.consultation-preview hgroup h2 {
  font-size: 1.923em;
  line-height: 135%;
}

.consultation-preview .title {
  text-decoration: none;
}

.consultation-preview .title:hover h1,
.consultation-preview .title:focus h1,
.consultation-preview .title:hover h2,
.consultation-preview .title:focus h2 {
  color: #fc9026;
  text-decoration: none;
}

.consultation.hero-unit {
  position: relative;
  min-height: 217px;
  padding: 3.076924em;
}

.consultation.hero-unit hgroup {
  margin: .75em 160px 1em;
  text-align: center;
}

.consultation.hero-unit hgroup h1 {
  margin-bottom: .25em;
  font-size: 3.5em;
  line-height: 100%;
  color: #fc9026;
}

.consultation.hero-unit hgroup h2 {
  font-size: 1.95em;
  line-height: 120%;
  color: #000000;
  color: #fc9026;
}

.consultation.hero-unit .title-image {
  position: absolute;
  top: 3.076924em;
  left: 3.076924em;
}

.consultation.hero-unit a[rel="home"] {
  position: absolute;
  top: 1.538462em;
  right: 1.538462em;
  color: #000000;
}

.consultation.hero-unit a[rel="home"] i {
  position: relative;
  top: .1em;
  text-decoration: none;
}

.consultation.hero-unit a[rel="home"]:hover,
.consultation.hero-unit a[rel="home"]:focus {
  color: #fc9026;
}

.consultation.hero-unit .share {
  position: absolute;
  top: 2.75em;
  right: -0.5em;
  padding-right: .75em;
}

.consultation.hero-unit .share i {
  position: relative;
  top: .2em;
  margin-right: .3em;
}