#followup {
  position: relative;
  width: 895px;
  height: 515px;
  padding: 1em 1em;
  border: 10px solid #fff;
  background: #fc9026;
  overflow: hidden;
}
#followup .wrapper {
/*  position: relative;*/
position: absolute;
top: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
#followup .sprite {
  background: url("../images/followup-sprite.png") 0 0 no-repeat;
}
#followup .followuphead {
  height: 70px;
  position: relative;
}
#followup .followup-topic {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 230px;
}
#followup .question-mark {
  background-position: 0 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
}
#followup .question-mark p {
  padding: 10px 17px;
  display: block;
}
#followup .question-h3 {
  font-size: 0.9em;
  width: 215px;
}
#followup .col {
  position: absolute;
  width: 300px;
  /*float: left;*/

}
#followup .col .timeline-box {
  width: 280px;
  position: relative;
  margin: 0 0 10px 0;
}
#followup .col .timeline-box h3 {
  font-size: 0.9em;
  color: #ffffff;
}
#followup .col .timeline-box .content {
  background-color: #ffffff;
  border: 7px solid #e9e9e9;
  width: 200px;
  padding: 7px;
}
#followup .col .timeline-box .content p {
  line-height: 1.2em;
}
#followup .col .timeline-box .content .explbutton {
  cursor: pointer;
  background-color: grey;
}
#followup .col .timeline-box .content .toggleexpl {
  display: none;
}
#followup .col .timeline-box .content .score {
  color: #fc9026;
}
#followup .col .timeline-box .timeline-countlink {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 238px;
  width: 43px;
  height: 40px;
  background-position: -45px 0;
}
#followup .col .timeline-box .timeline-countlink a{
  outline: 0 none;
  text-decoration: none;
  color:#000;
  font-size:19px;
}
#followup .col .timeline-box .timeline-countlink p,
#followup .col .timeline-box .timeline-countlink a {
  padding: 10px 17px 10px 15px;
  display: block;
}
#followup .col .openoverlay .content {
  cursor: pointer;
}
#followup .col .openoverlay .content:hover {
  background: #02afdb;
}
#followup .col .openoverlay .content:hover .refteaser,
#followup .col .openoverlay .content:hover .voting {
  color: #000000;
}
#followup .overlaywrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#followup .overlaywrapper .overlaycontent {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 450px;
  overflow: scroll;
  background: #ffffff;
}
#followup .overlaywrapper .overlaycontent h1 {
  margin: 20px;
}
#followup .overlaywrapper .overlaycontent .docs,
#followup .overlaywrapper .overlaycontent .snippet {
  margin: 0 20px;
  border: 1px solid #fc9026;
}
#followup .overlaywrapper .overlaycontent .active {
  background-color: #fc9026;
}
#followup .overlaywrapper .overlayclosebutton {
  position: absolute;
  top: 8%;
  left: 92%;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: red;
}
#followup .overlaywrapper .overlayclose {
  cursor: pointer;
  
  clear:left;
}
#followup #followuploader {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  
  text-align: center;
  display: none;
}
#followup a.whitelink, #followup a.whitelink:focus{
    
    color: #ffffff;
}
#followup a.whitelink:hover {
    
   text-decoration: underline;
}
#followup .gfx_who_thumb {
    max-width: 50px;
    height:auto;
    float:left;
    margin-right: 10px;
}

.recent-followup img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}
ul.recent-followup {
    
    
}
.recent-followup li.media {
   width: 155px;
   margin: 0 10px 0 0;
}
.recent-followup li.media:first-child{
   margin: 0 10px 0 10px;
}
.recent-followup li {
   float: left;
}
.recent-followup li .media-body {
   float:left;
}

.followup h2 {
    text-align:center;
}

.level4-navigation > .nav  > .active > a {
    color: #000 !important;
}
form.followup-download {
    margin-bottom: 2px;
}
.submitaslink {
      background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #489FCA;
    font: 0.9em/1.565em Arial,sans-serif;
    margin: 0;
    padding: 0;
}
span.lightblue {
    color: #489FCA;
}
form.followup-download span.lightblue:hover,
form.followup-download span.lightblue:hover input,
form.followup-download span.lightblue:focus input,
form.followup-download span.lightblue:focus
{
    color: #FC9026 !important;
    text-decoration: underline;
}
.thumb-up, .thumb-down{
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    padding-left: 3px;
}
#followup .voting .amount {
    float: left;
    font-size: 11px;
}
.thumb-up{
     background: url("../images/thumb_up.png") -11px -12px no-repeat;
     margin-right: 7px;
}
.thumb-down{
    margin-top: 2px;
     background: url("../images/thumb_down.png") -11px -12px no-repeat;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
