//
// Component: Forms: Form Layouts
// --------------------------------------------------


// Required fields
label.required:after {
	content: ' *';
	position: relative;
	bottom: -0.2em;
	font-size: 1.5em;
	color: @red;
}

// Vertical form
.form-vertical {
	.control-group {
		margin-bottom: .25em;
	}

	.form-actions {
		margin: 0;
		padding: .25em 0 0;
		border-top-style: none;
		background: none;

		.inline-actions {
			display: inline-block;
			margin-left: 2 * @u;
		}
	}
}

.form-actions-unstyled {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

// DL form
form dl {
	margin-bottom: 1em;
}

form dt:empty {
	display: none;
}

form dd {
	margin-left: 0;

	label > input[type="radio"],
	label > input[type="checkbox"] {
		margin-right: 1ex;
		vertical-align: baseline;
	}

	label + br {
		display: none;
	}
}

// Inline DL form
.form-inline {
	dt {
		display: none;
	}

	dd {
		display: inline-block;
        vertical-align: top;
		margin-right: .75ex;
	}

    ul.errors {
        max-width: 230px;
        margin: .5em 0 1em;
        text-align: left;
        list-style: none;
        color: @bodyText;
    }
}

// Voting form
#csrf_token_votingauth-element {
    display: block;

    ul.errors {
        .alert();
        .alert-error();
        max-width: none;
    }
}
