// Components: Password Meter


#password-element {
    position: relative;
}

input[type="password"] + .progress {
    position: absolute;
    left: 250px; // default input width plus some space
    top: 5px;
    width: 230px;
}

.password-verdict {
    position: absolute;
    left: 230 + 250 + 10px;
    top: 7px;
}
