<VirtualHost *:80>
    DocumentRoot /www
    ErrorLog /dev/stdout
    ProxyPassMatch ^/(.*\.php(.*)?)$ fcgi://php:9000/www/$1

    <Directory /www>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
