//
// Component: Forms: Registration Form
// --------------------------------------------------


#group_type-element {
	margin: 2em 0;
}

#regio_pax-element {
	margin-bottom: 1em;
}

#cnslt_results,
#newsl_subscr,
#is_contrib_under_cc {
	&-label {
		margin-left: 1.5em;
		margin-bottom: -2.25em;
	}

	&-element {
		margin-bottom: .5em;
	}
}

label[for="is_contrib_under_cc"] {
	margin-left: 1.5em;
	margin-bottom: -1.6em;
}

#is_contrib_under_cc {
	position: relative;
	top: -(2 * @baseLineHeight + .2em);
	margin-bottom: .5em;
}

#cmnt_ext-label {
	margin-top: @baseLineHeight;
}