//
// Component: Consultation
// --------------------------------------------------


// Consultation preview
.consultation-preview {
	position: relative;
	margin-bottom: 1.5em;
	padding: .3em @u @u;
	background-color: @grayLightest;

	// Consultation title
	hgroup {
		text-align: center;

		h1 {
			margin-bottom: 0;
			font-size: 2.538em; // 33px
			line-height: 135%;
		}
		h2 {
			font-size: 1.923em; // 25px
			line-height: 135%;
		}
	}

	// Linked consultation title
	.title {
		text-decoration: none;

		// Hover state
		&:hover,
		&:focus {
			h1, h2 {
				text-decoration: none;
				color: @orange;
			}
		}
	}
}

// Consultation - hero unit
.consultation.hero-unit {
	position: relative;
	min-height: 217px; // title image height
	padding: 2 * @u;

	// Title
	hgroup {
		margin: .75em 160px 1em;
		text-align: center;

		h1 {
			margin-bottom: .25em;
			font-size: 3.5em; // 45px
			line-height: 100%;
			color: @orange;
		}

		h2 {
			font-size: 1.95em; // 25px
			line-height: 120%;
			color: @black;
			color: @orange;
		}
	}

	// Image
	.title-image {
		position: absolute;
		left: 2 * @u;
		top: 2 * @u;
	}

	// Home link
	a[rel="home"] {
		position: absolute;
		right: @u;
		top: @u;
		color: @bodyText;

		i {
			position: relative;
			top: .1em;
			text-decoration: none;
		}

		&:hover,
		&:focus {
			color: @linkTextHover;
		}
	}

	// Share
	.share {
		position: absolute; //relative;
		right: -0.5em;
		top: 2.75em;
		padding-right: .75em;

		i {
			position: relative;
			top: .2em;
			margin-right: .3em;
		}
	}
}

// Consultation detail
.consultation {

}
