//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Base path
@basePath:                      '..';

// Base unit
@u:                             1.538462em; // 20px for 13px base font size


// Colors
// -------------------------

// Grays
@black:                         #000;
@grayDarker:                    #1A1F24;
@grayDark:                      #444;
@gray:                          #666;
@grayLight:                     #999;
@grayLighter:                   #a69f9f;
@grayLightest:                  #f7f7f7;
@white:                         #fff;

// Accent colors
@orange:                        #fc9026;
@blue:                          #02afdb;
@blue2:                         #00cbff;
@blue3:                         #7ac8f6;
@blueDark:                      #0196bc;
@blueDark2:                     #489fca;
@turqoise:                      #5fa4a0;
@green:                         #a3b225;

// Brand colors
@brandColor:                    @orange;


// Common color settings
// -------------------------

// Body
@bodyBackground:                @white;
@bodyText:                      @black;

// Links
@linkText:                      @blueDark;
@linkTextHover:                 @orange;


// Typography
// -------------------------

@sansFontFamily:                Arial, sans-serif;
@serifFontFamily:               Georgia, "Times New Roman", Times, serif;
@monoFontFamily:                Monaco, Menlo, Consolas, "Courier New", monospace;
@headingFontFamily:             "Paytone One", sans-serif;
@subheadingFontFamily:          "Yanone Kaffeesatz", sans-serif;

@baseFontSize:                  .8em; // 13px (intentionally changed from original 12px to improve legibility)
@baseFontFamily:                @sansFontFamily;
@baseLineHeight:                1.565em; //20px


// Animation timing
// -------------------------

@fast:                          100ms;
@normal:                        250ms;
@slow:                          500ms;



// Component variables
// --------------------------------------------------


// Footer
// -------------------------

@footerHeight:                  11 * @u;
@footerBackground:              @bodyBackground;
@footerText:                    @bodyText;
@footerLinkText:                @linkText;
@footerLinkTextHover:           @linkTextHover;


// Buttons
// -------------------------

@btnText:                       @black;
@btnTextHover:                  @black;
@btnBorderRadius:               0;
@btnBackground:                 @blue2;
@btnBackgroundHover:            @orange;

@btnPrimaryBackground:          @orange;
@btnPrimaryBackgroundHover:     @blue2;


// Tables
// -------------------------
@tableVerticalPadding:          1em;
@tableHorizontalPadding:        @u;
@tableFontSize:                 @baseFontSize;

@tableBackground:               fade(@white, 15%); // overall background-color
@tableBackgroundAccent:         fade(@white, 30%); // for striping
@tableBackgroundHover:          fade(@white, 50%); // for hover
@tableHeaderBackground:         fade(@grayLight, 20%); // header cells
@tableHeaderBackgroundHover:    fade(@grayLight, 15%); // header cells hover
@tableHeaderBackgroundActive:   @tableBackgroundAccent; // header cells active
@tableBorder:                   @grayLight; // table and cell border


// Navbar
// -------------------------

@navbarHeight:                  2 * @u;
@navbarItemVerticalPadding:     .5em; //.4em;
@navbarItemHorizontalPadding:   1ex;

//@navbarBorderColor:             @white;
@navbarBackground:              @blue2;
@navbarText:                    @black;
@navbarTextHover:               @black;


// Forms
// -------------------------

@inputText:                     @bodyText;
@inputBorderColor:              @black;
@inputBorderRadius:             0;
@inputBackground:               @white;
@inputReadonlyBackground:       fade(@inputBackground, 50%);
@inputUneditableBackground:     transparent;

@inputFocusBorder:              @brandColor;
@inputFocusGlow:                transparent;


// Form field states and warnings
// -------------------------

@errorText:                     @white;
@errorBackground:               #c00;


// Wells
// -------------------------

@wellBorderRadius:              0;
@wellBackground:                @orange;
@wellText:                      @bodyText;
@wellLinkText:                  @white;
@wellLinkTextHover:             @bodyText;
