//
// Mix-ins
// --------------------------------------------------


.decoratedBox() {
	border: .8em solid lighten(@grayLighter, 27%);
	.border-radius(1.5em);
	.box-shadow(.2em .3em .5em fade(@black, 50%));
}

// Caret
.caret,
.caret-up {
	content: '';
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-width: .4em;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
}

.caret {
	border-top-color: @bodyText;
	border-bottom-style: none;
}

.caret-up {
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-color: @bodyText;
}

.caretResizable(@width: .8em, @height: .4em, @color: @bodyText) {
	.caret();
	border-width: @width / 2;
	border-top-width: @height;
	border-top-color: @color;
}
