# Ignore all components installed by npm
/node_modules

# Ignore deployment files
deployment.*.log
.htdeployment

# Ignore filesystem files
.DS_Store
Thumbs.db

# Ignore IDE files
nbproject
.idea

# Always follow configs
!.gitignore
!.htaccess

# Ignore all components installed by Composer
/vendor/*

# Ignore all components installed by Bower
/www/components/*
