@font-face {
    font-family: 'Titillium Web';
    src:
        url(../fonts/titilliumweb/titilliumweb-light.woff) format('woff'),
        url(../fonts/TitilliumWeb/titilliumweb-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src:
        url(../fonts/titilliumweb/titilliumweb-regular.woff) format('woff'),
        url(../fonts/TitilliumWeb/titilliumweb-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src:
        url(../fonts/titilliumweb/titilliumweb-bold.woff) format('woff'),
        url(../fonts/TitilliumWeb/titilliumweb-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
