//
// Component: Navbar
// --------------------------------------------------


// Refactored navbar with no floating to allow align items to center
// Navbar container
.navbar {
	margin-bottom: 0;

	// Navbar
	.navbar-inner {
		height: @navbarHeight;
		.border-radius(0);
		border-style: none;
		background: @navbarBackground none;
		.reset-filter();
		.box-shadow(none);
	}

	// Navbar content
	.container {
		width: 940px;
	}

	// Navbar navigation
	.nav {
		float: none;
		text-align: center;
		white-space: nowrap;
	}

	.nav > li {
		display: inline-block;
		float: none;
	}

	.nav > li > a {
		height: @navbarHeight;
		display: inline-block;
		.box-sizing(border-box);
		padding: @navbarItemVerticalPadding @navbarItemHorizontalPadding;
		font: normal ~"1.538em/100%" @subheadingFontFamily; // 20px;
		text-transform: uppercase;
		text-shadow: none;
		color: @navbarText;

		&:hover,
		&:focus {
			color: @navbarTextHover;
			background-color: @orange;
		}
	}

	// Active item
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		color: @grayLightest;
		background-color: @black;
		.box-shadow(none);
	}

	// Licence
	.nav > .licence > a {
		margin: 0 0 0 1.2em;
		padding: 0;

		img {
			position: relative;
			top: -0.1em;
			vertical-align: middle;
			line-height: @navbarHeight;
		}

		&:hover,
		&:focus {
			background: none;
		}
	}
}
