// Components: Admin


// Layout
body {
    > header {
        padding-top: 5em;
        padding-bottom: 2.5 * @line-height-computed;
        background-color: @gray-lighter;
    }

    > main {
        padding-top: 2 * @line-height-computed;
        padding-bottom: 2 * @line-height-computed;
    }

    > footer {
        padding-top: @line-height-computed;
        padding-bottom: @line-height-computed;
        color: @gray-light;
        background-color: @gray-darker;

        a {
            color: @gray-light;

            &:hover,
            &:focus {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.sticky-footer(3 * @line-height-computed);

// Typography
h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: .75em;

    &:not(:first-of-type) {
        margin-top: 2em;
    }

    h1 + & {
        margin-top: -1em;
        margin-bottom: 1.5em;
        font-size: 1.5em;
    }
}

hr {
    margin: (2 * @line-height-computed) 0;
}

// Offset
.offset-bottom {
    margin-bottom: @line-height-computed;
}

// Tables
tr.disabled {
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

// CTA
.cta {
    margin-bottom: @line-height-computed;
    text-align: right;

    .row & {
        margin-top: .4em;
    }

    @media screen and (min-width: @screen-md-min) {
        float: right;
        margin-top: 1.85em;
        margin-left: 1.5em;

        .row & {
            margin-top: 1.85em;
        }
    }
}

// Thumbnails
.thumbnail-image {
    height: 150px;
    overflow: hidden;
    text-align: center;
}

.thumbnail-image img {
    display: inline-block;
}

// Navigation
.nav-tabs {
    margin-top: @line-height-computed;
    margin-bottom: 2 * @line-height-computed;
}

.nav-stacked {
    margin-bottom: 2 * @line-height-computed;
}

.navbar {
    @media screen and (max-width: @screen-xs-max) {
        .visible-xs {
            display: inline-block !important;
        }
    }

    @media screen and (min-width: @screen-sm-min) {
        &-icon > a {
            min-height: @navbar-height;
        }
    }
}

// Forms
input[type="file"] {
    margin: (@line-height-computed / 2) 0;
}

form .text-danger {
    .alert();
    .alert-danger();
    display: block;
}

.form-group .text-danger:not(:only-child) {
    margin-top: @line-height-computed / 2;
}

label.required:after {
    content: ' *';
    color: @gray-light;
}

// Buttons
.btn[disabled] {
    opacity: .5;
}
