//
// Component: Alerts
// --------------------------------------------------


// Base alert
.alert {
	padding: 1em (2 * @u) 1em @u;
	text-shadow: none;
	border-style: none;
	.border-radius(0);

	.close {
		right: -1em; // 20px
	}

    & + & {
        margin-top: -@baseLineHeight;
    }
}

// Error
.alert-error {
	color: @errorText;
	border-color: @errorText;
	background-color: @errorBackground;

	h4 {
		color: @errorText;
	}
}
