//
// Component: Articles
// --------------------------------------------------


// Base article
.article {

	// Custom bullets of user content
	ul {
		margin: 0 0 @baseLineHeight;
		list-style: none;
	}

	// First level
	ul > li {
		margin-left: 1.25em;

		&:before {
			content: '>';
			float: left;
			margin-left: -1.25em;
		}
	}

	// Second level
	ul > li > ul {
		margin: .5em 0;

		> li:before {
			content: '»';
		}
	}
}
