// Components: Counter


.counter {
    line-height: 1.4;

    // Digits
    &-digit {
        display: inline-block;
        padding: .15em .3em;
        color: @orange;
        background-color: #000;

        & + & {
            margin-left: 1px;
        }
    }

    // Character counter
    &-characters {
        display: block;
        padding: 1px 0;
        text-align: right;
    }

    // Voting counter
    &-voting {
        position: absolute;
        left: @u;
        top: 1.4em;
        text-align: left;
        color: @bodyText;
    }
}
