// Components: Follow Up


.followup-search {
	margin: 0 0 @baseLineHeight;
	padding-left: 0;
	list-style: none;

	> li {
		margin-left: 0 !important; // specificity override
		margin-bottom: @baseLineHeight;

		&:extend(.clearfix all);

		&:before {
			content: '' !important;
		}
	}

	.followup-preview {
		&:extend(.clearfix all);

		.followup-image {
			margin-bottom: 1em;
			margin-right: @u;
		}
	}

	&-snippets {
		margin-bottom: @baseLineHeight;

		.followup-snippet {
			display: block;
			margin-bottom: @baseLineHeight / 2;
		}
	}
}
