//
// Component: Media
// --------------------------------------------------


// Contributions
article.media {
	time {
		display: block;
		margin-bottom: .6em;
	}

	.lead {
		margin-bottom: .5em;
		font-weight: bold;
		font-size: 1em;
		line-height: 150%;
	}

	.article-action {
		display: inline-block;
		margin-right: 1em;

		&:hover,
		&:focus,
		a:hover,
		a:focus {
			text-decoration: none;
		}
	}
}
