//
// Component: Modals
// --------------------------------------------------


// Background
.modal-backdrop,
.modal-backdrop.fade.in {
	.opacity(50);
}

// Base modal
.modal {
	width: 680px;
	border-style: none;
	.border-radius(0);
	background-color: @bodyBackground;
	.box-shadow(none);
}

// Modal header
.modal-header {
	padding: 3 * @u;
	border-bottom-style: none;

	// Close icon
	.close {
		position: absolute;
		right: 1.5 * @u;
		top: 1.5 * @u;
		margin: 0;
		font-weight: normal;
		font-size: 2em;
		.opacity(40);

		&:hover,
		&:focus {
			.opacity(60);
		}
	}

	hr {
		margin-top: 3 * @u;
	}
}

// Modal body
.modal-body {
	padding: 3 * @u;
	padding-top: 0;

	p {
		margin-bottom: 3 * @u;
	}

	form {
		margin-bottom: 0;
	}

	.form-actions {
		padding-top: 2 * @u;
	}
}
