// Components: Offset


.offset-left {
	margin-left: @u;
}

.offset-right {
	margin-right: @u;
}

.offset-top-large {
	margin-top: 3 * @baseLineHeight;
}

.offset-bottom-large {
	margin-bottom: 3 * @baseLineHeight;
}

.no-offset, // TODO replace
.offset-bottom-none {
	margin-bottom: 0;
}
