//
// Component: Tag Cloud
// --------------------------------------------------


// Tag cloud
.tag-cloud {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	text-align: center;

	// Tags
	& > li {
		display: inline-block;
	}

	& > li > a {
		padding: 0 .5ex;
		color: @bodyText;

		&:hover,
		&:focus {
			color: @linkTextHover;
		}
	}

	// Full tag list
	&-full {
		> li > a {
			padding: .2em 1ex .2em 0;
		}
	}

	&-alt {
		> li > a {
			&,
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
}

// Tag sizes
.tag-rare {
	font-size: 1em;
}

.tag-medium {
	font-size: 1.25em;
}

.tag-frequented {
	font-size: 1.5em;
}
