// Badges


.badge {
    &-tag {
        padding-left: .5em;
        font-weight: normal;
        font-family: @font-family-condensed;
        font-size: @font-size-large;
        line-height: 2.1;
        text-align: center;
        color: @text-color;
        background-color: transparent;
        background-repeat: no-repeat;

        &-small {
            width: 73px;
            height: 52px;
            background-image: url(../images/bubble-small.png);
        }
    }
}
