// Dropdowns


// Multipurpose dropdown extension.

// Container
.dropdown-menu-combo {
    min-width: 18em;
    padding: 1em;

    > .divider {
        margin: @line-height-computed 0;
    }
}

.dropdown-title {
    font-family: @font-family-condensed;
    font-size: 1.8em;
    text-transform: uppercase;
    color: @dropdown-color;
}

// Common links
.dropdown-menu > a {
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: #fff;
    }
}
