// Icons


.icon {
    &-offset {
        margin-right: 5px;
    }

    &-sm {
        font-size: @font-size-small;
    }

    &-md {
        font-size: 1.5 * @font-size-base;
    }

    &-lg {
        font-size: 2 * @font-size-base;
    }

    &-white {
        color: #fff;
    }

    &-pencil {
        width: 34px;
        height: 50px;
        display: inline-block;
        background: transparent url(../images/edit-alt.png) no-repeat left top;
    }
}
