// Articles


.article {

    // Make all images responsive.
    img {
        &:extend(.img-responsive);
    }

    //Deal with captions longer than image width.
    figure {
        position: relative;

        figcaption {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: .5em;
            font-size: .75em;
            font-style: normal;
            line-height: 1.2;
            text-shadow: 1px 0 1px fade(#000, 50%);
            color: @gray-lightest;
        }
    }

    // Custom bullets of user content.
    ul {
        margin: 0 0 @line-height-computed;
        padding-left: 1.5em;
        list-style: none;

        > li {
            margin-left: 1.25em;

            &:before {
                content: '>';
                float: left;
                margin-left: -1.25em;
            }
        }

        > li > ul {
            margin: .5em 0;

            > li:before {
                content: '»';
            }
        }
    }

    // Limit iframe size since we cannot change the markup of embedded videos to use Bootstrap's `.embed-responsive`.
    iframe {
        max-width: 100%;

        @media (max-width: 419px) {
            max-height: 200px;
        }

        @media (min-width: 420px) and (max-width: @screen-xs-max) {
            max-height: 300px;
        }
    }

    // Alignment classes
    .left {
        float: left;
        margin: 0 1.5em 1em 0;
    }

    .right {
        float: right;
        margin: 0 0 1em 1.5em;
    }

    @media (min-width: @screen-sm-min) {

        // Justify and hyphenate article paragraphs.
        p {
            text-align: justify;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                -ms-hyphens: auto;
                    hyphens: auto;
        }
    }

    // Modify accordion panels inserted by CKEditor plugin via admin.
    .panel-default {
        .panel-primary();
    }
}
