// Fonts


@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(font/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot);
    src: url(font/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot?#iefix) format('embedded-opentype'),
        url(font/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff) format('woff'),
        url(font/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.ttf) format('truetype'),
        url(font/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paytone One';
    src: url(font/paytone-one-yanone-kaffeesatz/paytoneone-webfont.eot);
    src: url(font/paytone-one-yanone-kaffeesatz/paytoneone-webfont.eot?#iefix) format('embedded-opentype'),
        url(font/paytone-one-yanone-kaffeesatz/paytoneone-webfont.woff) format('woff'),
        url(font/paytone-one-yanone-kaffeesatz/paytoneone-webfont.ttf) format('truetype'),
        url(font/paytone-one-yanone-kaffeesatz/paytoneone-webfont.svg#paytone_oneregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
