// Configuration: Admin Variables


// Paths
@icon-font-path: '../components/bower/bootstrap3/fonts/';

// Typography
@font-size-base: 15px;
@font-family-base: "Open Sans", helvetica, arial, sans-serif;
@headings-font-weight: 300;

@padding-base-vertical: 8px;
@padding-base-horizontal: 16px;

// Tables
@table-cell-padding: 10px;
