.nav-tabs > li > a {
    font-family: @font-family-condensed;
    font-size: @font-size-large;
    color: @nav-tabs-link-color;
    padding: @nav-tabs-padding;

    &:hover {
        color: @nav-tabs-link-color;
        background-color: @nav-tabs-link-hover-bg;
    }
}
