// Pagination


.pagination {
    font-size: 1.2em;
    font-family: @font-family-condensed;
    text-transform: uppercase;

    @media (min-width: @screen-md-min) {
        > .prev > a,
        > .prev > span {
            margin-right: @grid-gutter-width / 2;
        }

        > .next > a,
        > .next > span {
            margin-left: @grid-gutter-width / 2;
        }
    }
}
