	/*####################################################
	 * ####################################################
	 *
	 * Ab hier die Styles für das Dashborard 
	 * 
	 * ####################################################
	 * ####################################################
	 */
	
	/* levels for directories */
	ul.levels {

		margin: 0;padding; 0;
	}
	ul.levels li {
		list-style: none;
		width: 100%;
		clear: both;
		height: 2.2em;
	}

	ul.levels li div {
		float: left;
	}

	ul li.level_0 div {
		width: 80%
	}
	ul li.level_1 div {
		margin-left: 1em;
		width: -moz-calc(80% - 1em);
		width: -webkit-calc(80%  - 1em);
		width: calc(80%  - 1em);
	}
	ul li.level_2 {
		margin-left: 2em;
		width: -moz-calc(80% - 2em);
		width: -webkit-calc(80%  - 2em);
		width: calc(80%  - 2em);
	}
	ul li.level_3 {
		margin-left: 3em;
		width: -moz-calc(80% - 3em);
		width: -webkit-calc(80%  - 3em);
		width: calc(80%  - 3em);
	}
	ul li.level_4 {
		margin-left: 4em;
		width: -moz-calc(80% - 4em);
		width: -webkit-calc(80%  - 4em);
		width: calc(80%  - 4em);
	}
	ul li.level_5 {
		margin-left: 5em;
		width: -moz-calc(80% - 5em);
		width: -webkit-calc(80%  - 5em);
		width: calc(80%  - 5em);
	}
	ul li.level_6 {
		margin-left: 6em;
		width: -moz-calc(80% - 6em);
		width: -webkit-calc(80%  - 6em);
		width: calc(80%  - 6em);
	}
	ul li.level_7 {
		margin-left: 7em;
		width: -moz-calc(80% - 7em);
		width: -webkit-calc(80%  - 7em);
		width: calc(80%  - 7em);
	}
	ul li.level_8 {
		margin-left: 8em;
		width: -moz-calc(80% - 8em);
		width: -webkit-calc(80%  - 8em);
		width: calc(80%  - 8em);
	}
	ul li.level_9 {
		margin-left: 9em;
		width: -moz-calc(80% - 9em);
		width: -webkit-calc(80%  - 9em);
		width: calc(80%  - 9em);
	}
	ul li.level_10 {
		margin-left: 10em;
		width: -moz-calc(80% - 10em);
		width: -webkit-calc(80%  - 10em);
		width: calc(80%  - 10em);
	}

	/* forms width */
	.wd90 {
		width: 90%;
	}

	.pad5r {
		padding-right: 5%;
	}

	.delete {
		display: inline-block;
		width: 19px;
		height: 19px;
		text-indent: 100em;
		background: url(../../../images/sd/delete.png);
		overflow: hidden;
		float: left;
	}
	/* check list*/
	div#inputAnchors ul, div#viewAnchors ul, #questionAnchors ul, div#actionAnchors ul {
		width: 100%;
		margin: 0;
		padding: 0;
		clear: both;
	}
	div#inputAnchors ul li, div#viewAnchors ul  li, #questionAnchors ul li, div#actionAnchors ul li {
		list-style: none;
		width: 95%;
		margin: 0 2% 0 0;
		padding: 0.1em 0 0.1em 0
	}
	div#inputAnchors ul li label, div#viewAnchors ul li label {
		width: 85%;
		float: left;
		font-size: 0.9em;
		padding: 0 0 0.25em 0;
	}
	div#inputAnchors ul li input, div#viewAnchors ul li input {
		float: left;
	}

	#viewAnchors form, #directoryAnchors ul, div#actionAnchors ul, #questionAnchors ul {
		display: none;
	}

	a.moveto {
		float: left;
		padding: 0 1em 0 0;
		font-size: 1.2em;
		cursor: pointer;
	}
	a.del {
		color: #AA0000;
	}
	
	

	/* Searchform */

	form#search {
		margin: 0;
		padding: 0;
	}

	form#search ul {
		margin: 0;
		padding: 0;
	}

	form#search ul li:first-child {
		width: 100%;
		clear: both;
		margin: 0;
		list-style: none;
		height: 2.5em;
	}

	form#search ul li {
		width: 40%;
		min-width: 150px;
		float: left;
		margin: 0;
		list-style: none;
		height: 2.5em;
	}

	form#search ul li:first-child label {
		width: 49%;
		float: left;
	}
	form#search ul li label {
		width: 65%;
		float: left;
	}
	form#search ul li input {
		float: left;
	}
	
	form#search ul li.tags, form#search ul li.tags label {
		width: 100%;
		float: none!important;
		height: auto;
		clear: both;
		margin: 0 0 0.5em 0;
	}

	/* Liste dashboard */
	div.input-list {
		min-width: 500px;
	}

	div.input-list ul {
		margin: 0;
		padding: 0;
		width: 95%;
	}
	div.input-list ul li.inputs {
		background: none repeat scroll 0 0 #F4F4F4;
		border-bottom: 1px dotted #DDDDDD;
		margin: 0 0 1em 0;
		padding: 5px;
		list-style: none;
		min-width: 500px;
		box-shadow: 2px 4px 2px -2px gray;
	}
	div.input-list ul li:hover.inputs {
		background: #FFFFEE;
	}

	div.input-list ul li.inputs label.thesis {
		width: 97%;
		min-width: 485px;
		float: left;
		font-weight: bold
	}
	div.input-list ul li.inputs input.cbx-th {
		float: left;
		font-size: 1.5em;
		border: 1px solid black;
		margin-top: 1em;
	}

	div.input-list ul li.inputs div.tagrow {
		display: table;
		width: 90%;
		min-width: 450px;
		float: left;
	}
	div.input-list ul li.inputs div.tagrow div.tag {
		width: 30%;
		min-width: 170px;
		background: white;
		padding: 4px;
		border: 1px solid black;
		float: left;
		margin: 0.05em;
	}
	div.input-list ul li.inputs div.info-box {
		display: table;
		width: 10%;
		min-width: 49px;
		float: left;
	}
	div.input-list ul li.inputs span.vot-box, div.input-list ul li.inputs span.block-box, div.input-list ul li.inputs span.input-box {
		font-size: 1.5em;
		background: white;
		padding: 0.25em;
		margin: 0 0 0.25em 0;
		border: 1px solid black;
		display: block;
		width: 18px;
		height: 16px;
	}

	div.input-list ul li.inputs div.expl-content, div.input-list ul li.inputs div.notice-content, div.input-list ul li.inputs div.related-content {
		display: none;
		clear: both;
		width: 100%;
	}
	div.input-list ul li.inputs span.block-box, div.input-list ul li.inputs span.vot-box, div.input-list ul li.inputs div.expl-header a, div.input-list ul li.inputs div.notice-header a, div.input-list ul li.inputs div.related-header a, #inputAnchors h3, #viewAnchors h3, #directoryAnchors h3, #questionAnchors h3, #actionAnchors h3, #actionAnchors a {
		cursor: pointer;
	}
	
	div.input-list div.append-inputs {
		padding: 1em 0 0 0;
		color: #4D87C7;
		clear: both;
		width: 100%;
	}
	div.input-list div.append-header {
		padding: 1em 0 0 0 ;
		clear: both;
		width: 100%;
	}
	
	div.input-list div.expl-header, div.input-list div.expl-content, div.input-list div.notice-header, div.input-list div.notice-content , div.input-list div.append-header{
		margin-bottom: 0.5em;
	}

	/* tooltipp */
	.ui-tooltip {
		position: absolute;
		z-index: 999;
		background-color: white;
		padding: 2px;
		border: 1px solid #fff;
		display: none;
		max-width: 250px;
	}

	.ui-tooltip, .arrow:after {
		border: 1px solid black;
	}
	.ui-tooltip {
		padding: 5px 5px;
		color: black;
		border-radius: 5px;
		font-size: 1em;
		text-transform: uppercase;
		box-shadow: 0 0 2px black;
	}
	.arrow {
		width: 70px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		left: 50%;
		margin-left: -35px;
		bottom: -22px;
	}
	.arrow.top {
		top: -16px;
		bottom: auto;
	}
	.arrow.left {
		left: 20%;
	}
	.arrow:after {
		content: "";
		position: absolute;
		left: 20px;
		top: -20px;
		width: 25px;
		height: 25px;
		box-shadow: 0 0 2px black;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		tranform: rotate(45deg);
	}
	.arrow.top:after {
		bottom: -10px;
		top: auto;
	}

}