# Allow PHP short tags
<IfModule mod_php5.c>
	php_flag short_open_tag on
</IfModule>

# Rewrite URL
RewriteEngine On
#RewriteBase /myapp
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]