// Main


.main {
    &-content {
        padding: (2 * @line-height-computed) (@grid-gutter-width / 2) @line-height-computed;
        color: @text-color;
        background-color: @main-content-bg;
    }

    &-page-tools {
        margin-top: 2 * @line-height-computed;
        margin-bottom: @line-height-computed;

        > a {
            display: inline-block;
        }

        > a + a {
            margin-top: floor((@line-height-computed / 4));
        }
    }

    &-bottom-bar {
        margin-top: @line-height-computed;
        padding: 1em (@grid-gutter-width / 2);
        text-align: center;
        background-color: @main-content-bg;
    }

    @media (min-width: @screen-sm-min) {
        &-page-tools {
            text-align: center;
        }

        &-bottom-bar {
            padding: @line-height-computed (@grid-gutter-width / 2);
        }
    }

    @media (min-width: @screen-md-min) {
        &-content {
            position: relative;

            &-title-thin {
                max-width: 85%;
            }
        }

        &-page-tools {
            position: absolute;
            top: 0;
            right: @line-height-computed;
            text-align: right;

            > a {
                display: block;
            }
        }
    }
}
