//
// Typography
// --------------------------------------------------


// FontFace
// -------------------------

// Using Paytone One and Yanone Kaffeesatz via Google Webfonts
// http://www.google.com/webfonts#UsePlace:use/Collection:Paytone+One|Yanone+Kaffeesatz
// Settings:
//     - Normal 400


// Body
// -------------------------

body {
	font: normal @baseFontSize @baseFontFamily;
	line-height: @baseLineHeight;
	color: @bodyText;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;

	i {
		margin-right: .5ex;
	}
}

h1,
.h1 {
	margin-bottom: 1.25em;
	font: normal 2em/1.4em @headingFontFamily; // 21px
	text-transform: uppercase;
	color: @orange;
}

h2,
.h2,
legend {
	margin-bottom: .75em;
	font-weight: bold;
	font-size: 1.23em; // 16px
	line-height: 1.3em;
	color: @orange;
}

h2.alt {
	font-size: 2em; // 21px
	line-height: 115%;
	color: @orange;
}

h3,
.h3 {
	margin-bottom: .5em;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.5em;
}

h4,
.h4 {
	margin-bottom: .5em;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.6em;
}

hgroup {
	h1 {
		margin-bottom: .28em;
		color: @blue;
	}

	h2 {
		color: @blue;
	}
}

// Numbered headings
.numbered-number {
	margin-right: .5ex;
}

// Heading with CTA
.heading-with-cta {
	margin-top: 1.5em;
	padding-bottom: 1em;
	padding-right: 8em; // make place for CTA
	border-bottom: 1px solid @grayLighter;

	& + .btn {
		position: relative;
		top: -3.5em;
	}
}


// Text
// -------------------------

p {
	margin-top: 0;
	margin-bottom: 1em;
}

small {
	font-size: .9em; // 12px
}

time {
	font-size: .9em; // 12px
	color: @grayLight;
}

figure {
	margin: 0;

	img {
		margin-bottom: 1.25em;
	}

	figcaption {
		font-style: italic;
		line-height: 135%;
	}
}

::selection {
	background-color: @brandColor;
	color: @white;
}

.lead {
	font-size: 1.23em; // 16px
	line-height: 1.5em;
}

.light {
	font-weight: normal;
}

.muted {
	color: @grayLight;
}


// Links
// -------------------------

a {
	color: @linkText;
	//text-decoration: underline;
}

a:hover,
a:focus {
	color: @linkTextHover;
	//text-decoration: underline;
}

h1 a:hover,
h1 a:focus {
	text-decoration: none;
}

// Remove underline from links with logos
a.logo {
	text-decoration: none;
}


// Lists
// -------------------------

ul, ol, dl {
	margin-bottom: 2em;
}

// Custom bullets of user content
.main-content {
	ul {
		margin: 0 0 @baseLineHeight;
		list-style: none;
	}

	// First level
	ul > li {
		margin-left: 1.25em;

		&:before {
			content: '>';
			float: left;
			margin-left: -1.25em;
		}
	}

	// Second level
	ul > li > ul {
		margin: .5em 0;

		> li:before {
			content: '»';
		}
	}
}


// Other
// -------------------------

hr {
	margin: 0;
	border-top-color: fade(@gray, 25%);
}

img.pull-left {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}
