//
// Sticky footer
// Adapted sticky footer by Mystrdat:
// http://mystrd.at/modern-clean-css-sticky-footer/
// --------------------------------------------------


html {
	position: relative;
	min-height: 100%;
}

body {
	width: 100%;
	margin: 0 0 @footerHeight;
}

body > footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: @footerHeight;
}
