// Configuration: Main (Frontend) Variables


// Colors
// ======

// Grays
@gray-darker:                   #1a1f24;
@gray-dark:                     #444;
@gray:                          #666;
@gray-light:                    #999;
@gray-lighter:                  #a69f9f;
@gray-lightest:                 #f7f7f7;

// Accent colors
@orange:                        #fc9026;
@green:                         #a3b225;
@turqoise:                      #5fa4a0;
@blue-dark:                     #0196bc;
@blue:                          #00cbff;
@blue-light:                    #7ac8f6;

// Color scheme
@brand-primary:                 @turqoise;
@brand-accent:                  @orange;
@brand-accent-alt-dark:         @blue-dark;
@brand-accent-alt:              @blue;
@brand-accent-alt-light:        @blue-light;


// Typography
// ==========

@link-color:                    @brand-accent-alt-dark;
@link-hover-color:              @brand-primary;
