//
// Layout
// --------------------------------------------------


// HTML & body
// -------------------------

body {
	background-color: @bodyBackground;
}


// Document
// -------------------------

.document-wrap {
	padding-top: 1.2em;

	> .container {
		padding: 0 @u;
		color: @white;
		background-color: @turqoise;
		.box-shadow(0 .5em 1em fade(@black, 40%));
	}
}


// Header
// -------------------------

.container > header {

	// Header region
	.header-region {
		padding-top: 1.2em;
	}

	// Search and login
	.form-search,
	.btn-block {
		margin-right: -0.5 * @u;
	}

	.form-search {
		position: relative;
		margin: -1.9em 0 .5em;
	}

	// Login
	.btn-block {
		text-align: left;
	}
}

.main-title {
	text-align: center;

	h1 {
		margin-bottom: 0;
		font-size: 3.5em; // 45px
		line-height: 120%;

		a {
			color: @black;

			&:hover,
			&:focus {
				color: @orange;
			}
		}
	}
}

.introduction {
	margin: 0 10% 1.2em;
	font-weight: bold;
	font-size: 1.923em; // 25px
	line-height: 115%;
	text-align: center;
}


// Body copy
// -------------------------

.container > .main {
	min-height: 25em;

	// Adjust grid (non-proportinally)
	.content-holder > .row {
		> .span3 {
			width: 180px;
		}

		> .span6 {
			width: 540px;
		}

		> .span9 {
			width: 710px;
		}
	}

	section {
		padding: 1.5em 0;
	}

	.content-holder {
		position: relative; // for positioning of print link
		color: @textColor;
		background-color: @white;
	}

	.main-content {
		padding: 3em 0;

		&.content-holder {
			padding: 3em @u;
		}

		&.span9 {
			width: 720px;

			h1 {
				margin-right: 5em; // make place for print link
			}
		}
	}

	.print {
		position: absolute;
		right: @u;
		top: 3em;
		color: @bodyText;

		&:hover,
		&:focus {
			text-decoration: none;
			color: @linkTextHover;
		}
	}

	aside {
		.box-sizing(border-box);
		padding: 3em 0 3em @u;
		color: @textColor;
	}

	// Right sidebar
	section + aside {
		padding: 6em @u 3em 0; // make place for print link
	}
}

.top-link {
	padding: 1em @u;
	text-align: center;
	background-color: @white;

	a {
		color: @bodyText;

		&:hover,
		&:focus {
			text-decoration: none;
			color: @linkTextHover;
		}
	}

	&.transparent {
		background-color: transparent;

		a {
			color: white;

			&:hover,
			&:focus {
				color: @bodyText;
			}
		}
	}
}


// Footer
// -------------------------

body > footer {
	background-color: @footerBackground;
	color: @footerText;

	h3 {
		margin-bottom: 1.5em;
		font-weight: normal;
		font-size: 1em;
		line-height: 135%;
	}

	section {
		padding: 1.5em 0;
	}

	a {
		text-decoration: underline;
		color: @footerLinkText;

		&:hover,
		&:focus {
			color: @footerLinkTextHover;
		}
	}

	.contact {
		line-height: 135%;
		text-align: right;
	}
}
