#followup {
  position: relative;
  overflow: hidden;
  color: @bodyText;
}
#followup .wrapper {
/*  position: relative;*/
position: absolute;
top: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
#followup .sprite {
  background: url("../images/followup-sprite.png") 0 0 no-repeat;
}
#followup .followuphead {
  height: 70px;
  position: relative;
    z-index: 1;
    float: left;
}
#followup .followup-topic {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 230px;
}
#followup .back-link {
    position: absolute;
    left: 0;
    top: .5em;
    width: 215px;
    display: block;

    &,
    .question-h3 {
        overflow: hidden;
    }
}
#followup .question-mark {
  background-position: 0 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
}
#followup .question-mark p {
  padding: 10px 17px;
  display: block;
  color: #000;
}
#followup .question-h3 {
  font-size: 0.9em;
  color: #000;
}
#followup .col {
  position: absolute;
  width: 300px;
  /*float: left;*/
}
#followup .col .timeline-box {
  width: 280px;
  position: relative;
  margin: 0 0 10px 0;

    a.voting {
        color: @bodyText;
    }
}
#followup .col .timeline-box h3 {
  font-size: 0.9em;
  color: #ffffff;
}
#followup .col .timeline-box .content {
  background-color: #ffffff;
  border: 7px solid #e9e9e9;
  width: 200px;
  padding: 7px;
   border-radius: 15px;
  box-shadow: 2px 2px 3px #444444;  
}
#followup .col .timeline-box .content p {
  line-height: 1.2em;
}
#followup .col .timeline-box .content .explbutton {
    display: inline-block;
  margin-bottom: 1em;
    padding: 0 .4em;
  cursor: pointer;
  background-color: grey;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}
#followup .col .timeline-box .content .toggleexpl {
  display: none;
}
#followup .col .timeline-box .content .score {
  color: #fc9026;
}
#followup .col .timeline-box .timeline-countlink {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 238px;
  width: 43px;
  height: 40px;
  background-position: -45px 0;
}
#followup .col .timeline-box .timeline-countlink a{
  outline: 0 none;
  text-decoration: none;
  color:#000;
  font-size:19px;
}
#followup .col .timeline-box .timeline-countlink p,
#followup .col .timeline-box .timeline-countlink a {
  padding: 10px 17px 10px 15px;
  display: block;
}
#followup .col .openoverlay .content {
  border-radius: 15px;
  box-shadow: 2px 2px 3px #444444;  
  cursor: pointer;
  min-height: 71px;
}
#followup .col .openoverlay .content:hover {
  background: #02afdb;
}
#followup .col .openoverlay .content:hover .refteaser,
#followup .col .openoverlay .content:hover .voting {
  color: #000000;
}
#followup .overlaywrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#followup .overlaywrapper .overlaycontent {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 450px;
  overflow-y: scroll;
  background: #ffffff;
  border: 7px solid #E9E9E9;
  border-radius: 15px;
  box-shadow: 2px 2px 9px #000000;
}
#followup .overlaywrapper .overlaycontent h1 {
  margin: 20px;
}
#followup .overlaywrapper .overlaycontent .docs,
#followup .overlaywrapper .overlaycontent .snippet {
  margin: 10px 20px;
  padding: 8px 10px;
  position:relative;
  background-color: #DFDFDF;
  min-height: 100px;
}
#followup .overlaywrapper .overlaycontent .snippet .btn{
    bottom: 10px;
    position: absolute;
    right: 15px;
}
#followup .overlaywrapper .overlaycontent .snippet .likeyes_likeno{
    bottom: 50px;
    position: absolute;
    right: 15px;
}

#followup .overlaywrapper .overlaycontent .active {
  background-color: #FDDEBB;
}
#followup .overlaywrapper .overlayclosebutton {
  position: absolute;
  top: 12%;
  right: 8%;
  z-index: 1;
  width: 18px;
  height: 18px;
  font-size: 1.75em;
  line-height: 20px;
  text-align: center;
  border: 1px solid #000;
}
#followup .overlaywrapper .overlayclose {
  cursor: pointer;
  clear:left;
}
#followuploader {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  display: none;
  color: #fff;
  text-align: right;
}
#followup a.whitelink, #followup a.whitelink:focus{
    color: #ffffff;
}
#followup a.whitelink:hover {
    
   text-decoration: underline;
}
#followup .gfx_who_thumb {
    max-width: 78px;
    height:auto;
    margin-right: 10px;
}

.recent-followup img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.recent-followup li.media {
   width: 155px;
   margin: 0 10px 0 0;
}
.recent-followup li.media:first-child{
   margin: 0 10px 0 10px;
}
.recent-followup li {
   float: left;
}
.recent-followup li .media-body {
   float:left;
}

.followup h2 {
    text-align:center;
}

.level4-navigation > .nav  > .active > a {
    color: #000 !important;
}
form.followup-download {
    margin-bottom: 2px;
}
.submitaslink {
      background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #489FCA;
    font: 0.9em/1.565em Arial,sans-serif;
    margin: 0;
    padding: 0;
}
span.lightblue {
    color: #489FCA;
}
form.followup-download span.lightblue:hover,
form.followup-download span.lightblue:hover input,
form.followup-download span.lightblue:focus input,
form.followup-download span.lightblue:focus
{
    color: #FC9026 !important;
    text-decoration: underline;
}
.thumb-up, .thumb-down{
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    padding-left: 3px;
}
#followup .voting .amount {
    float: left;
    font-size: 11px;
}
.thumb-up{
     background: url("../images/thumb_up.png") -11px -12px no-repeat;
     margin-right: 7px;
}
.thumb-down{
    margin-top: 2px;
     background: url("../images/thumb_down.png") -11px -12px no-repeat;
}
.followup-gfx-who-wrapper {
    float: left;
    overflow:hidden;
    position: relative;
    height: 70px;
    width: 79px;
    margin-right: 10px;   
    margin-bottom: 10px;
}

.followup-typ {
     background: url("../images/followup-sprite.png");
     background-repeat: no-repeat;
}
.followup-typ.gfx-who-overlay {
    position: absolute;
    left: 13px;
    top: 13px;    
    z-index: 1;
    height: 71px;
    width: 79px; 
    display:none;
}
.followup-typ.edge-left {
    position: absolute;
    left: 8px;
    top: 13px;    
    z-index: 1;
    height: 38px;
    width: 38px;   
}
.followup-typ.edge-right {
    position: absolute;
    right: 0px;
    top: 0px;    
    z-index: 1;
    height: 42px;
    width: 45px;   
}

#followup .col .openoverlay .content.has-typ-overlay:hover .followup-typ.gfx-who-overlay {
    
    display: block;
}
#followup .col .openoverlay .content.has-typ-overlay:hover .followup-typ.edge-left {
    
    display: none;
    
}
.followup-typ.gfx-who-overlay {
    height: 71px;
    width: 79px; 
    display:none;
}

.followup-typ-s.edge-left {
    background-position: -121px -84px;
}
.followup-typ-e.edge-left {
    background-position: -80px -84px;
}
.followup-typ-r.edge-left {
    background-position: -39px -84px;
}
.followup-typ-a.edge-left {
    background-position: 0 -84px;
}
.followup-typ-s.edge-right {
    background-position: -105px -205px;
}
.followup-typ-e.edge-right {
    background-position: -156px -205px;
}
.followup-typ-r.edge-right {
    background-position: -54px -205px;
}
.followup-typ-a.edge-right {
    background-position: -3px -205px;
}
.followup-typ-s.gfx-who-overlay {
    background-position: -257px -127px;
}
.followup-typ-e.gfx-who-overlay {
    background-position: -172px -127px;
}
.followup-typ-r.gfx-who-overlay {
    background-position: -87px -127px;
}
.followup-typ-a.gfx-who-overlay {
    background-position: -3px -127px;
}
