/*!
 * DBJR TOOL Admin
 * Built on Synergic UI.
 *
 * Developed by Synergic (www.synergic.cz)
 * HTML & LESS/CSS © 2013-2014 Adam Kudrna
 */


// Synergic UI and its dependencies
@import "../components/bower/bootstrap3/less/bootstrap";
@import "../components/bower/less-modules/less/less-modules";
@import "../components/bower/select2-bootstrap-css/lib/select2-bootstrap";
@import "../components/bower/synergic-ui/src/less/_synergic-ui";

// Configuration (must be last to override)
@import "config/variables-admin";



// Temporary fixes, to be moved to Synergic UI.
.table-cell-top {
    vertical-align: top !important; // specificity override
}

.form-filter {
    .form-actions {
        padding-top: 26px;
    }
}

.table .checkbox {
    margin-top: 0;
}

.navbar-brand svg {
    margin-top: -3px;
}

.thumbnail-fixed .thumbnail-actions form {
    display: inline;
}
