/*!
 * DBJR TOOL Admin
 * Built on Synergic UI.
 *
 * Developed by Synergic (www.synergic.cz)
 * HTML & LESS/CSS © 2013-2014 Adam Kudrna
 */


// Synergic UI and its dependencies
@import "../components/bower/bootstrap3/less/bootstrap";
@import "../components/bower/less-modules/less/less-modules";
@import (inline) "../components/bower/select2/select2.css";
@import "../components/bower/select2-bootstrap-css/lib/select2-bootstrap";
@import "../components/bower/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker";
@import "../components/bower/synergic-ui/src/less/synergic-ui";

// Configuration (must be last to override)
@import "config/variables-admin";



// Temporary fixes.
// TODO To be moved to Synergic UI?
.table .checkbox {
    margin-top: 0;
}

.navbar-brand svg {
    margin-top: -3px;
}

.overflow-horizontal {
    word-break: break-all;
}

.sortable {
    > tr > td {
        background-color: #fff;
        cursor: move;
    }
}
