//
// Component: Forms: Contribution Form
// --------------------------------------------------


.input-extensible {
	margin-bottom: 0;
}

// Hint next to +
.form-contribution .form-actions {
	.btn {
		margin: 0;
	}

	#submit {
		margin-left: 1.9em;

		i {
			margin-left: .5ex;
			margin-right: 0;
		}
	}

	.hint {
		position: absolute;
		left: 4.5em;
		bottom: .9em;
		width: 10em;
		margin: 0;
		line-height: 120%;
		text-align: left;
	}
}
