//
// Component: Forms: Form Layouts
// --------------------------------------------------


// Vertical form
.form-vertical {

	.control-group {
		margin-bottom: .25em;
	}

	.form-actions {
		margin: 0;
		padding: .25em 0 0;
		border-top-style: none;
		background: none;

		.inline-actions {
			display: inline-block;
			margin-left: 2 * @u;
		}
	}
}

.form-actions-unstyled {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

// DL form
form dl {
	margin-bottom: 1em;
}

form dd {
	margin-left: 0;
}

// Inline DL form
.form-inline {
	dt {
		display: none;
	}

	dd {
		display: inline-block;
		margin-right: .75ex;
	}
}
