// Alerts


.alert {
    &-error {
        &:extend(.alert-danger);
    }

    &-on-overlay {
        position: relative;
        z-index: @zindex-modal + 1;
    }

    & + & {
        margin-top: -@line-height-computed;
    }
}
