// Counter


.counter {
    display: inline-block;
    padding: 1px 0;
    line-height: 1.4;

    &-digit {
        display: inline-block;
        padding: .23em .3em;
        color: @brand-accent;
        background-color: #000;

        & + & {
            margin-left: 1px;
        }
    }
}
