// Followup

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.followup {
    position: relative;
    overflow-x: auto;
    display: flex;
    width: calc(~'100% + 2 * @{well-bordered-padding}');
    margin-left: -@well-bordered-padding;
    margin-right: -@well-bordered-padding;

    &-loader {
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 20px;
        display: none;
        color: #fff;
        text-align: right;
    }

    &-column {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% / 3);
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
    }

    &-link {
        display: block;
        color: #000;

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &-back-link {
        display: block;
        line-height: @line-height-large;

        &-question-mark {
            display: block;
            margin-right: 10px;
            padding: 10px 17px;
        }
    }

    &-well {
        &-link {
            cursor: pointer;
            transition: border-color 150ms linear;

            &:hover {
                border-color: @brand-accent-alt;
            }
        }
    }

    &-timeline {
        &-box {
            position: relative;
            will-change: opacity, transform;
            animation: 1s appear backwards;

            &-border,
            &-border:hover,
            &-border:focus {
                border: 1px solid @gray-lighter-2;
            }

            &-image {
                float: left;
                margin: 0 1em 1em 0;
            }
        }

        &-count-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            display: block;
            margin-left: -15px;
            margin-top: -20px;
            padding: 10px 17px 10px 15px;
            border: 0;
            outline: 0;
            transition: transform 250ms ease-out;
        }

        &-count-arrow-left {
            left: -2px;

            &:hover,
            &:focus {
                transform: translateX(-12px);
            }
        }

        &-count-arrow-right {
            right: -19px;

            &:hover,
            &:focus {
                transform: translateX(15px);
            }
        }
    }

    // Sprites
    &-sprite {
        background: transparent url(../images/followup-sprite.png) no-repeat left top;

        &-question-mark {
            width: 40px;
            height: 40px;
            background-position: 0 0;
        }

        &-timeline-count {
            width: 43px;
            height: 40px;
            background-position: -45px 0;
        }

        &-timeline-count-left {
            background-position: -95px 0;
        }
    }

    &-type-wrap {
        position: relative;
        min-height: 100px;
        overflow: hidden;

        &.followup-type-wrap-inner {
            padding-top: 30px;
            padding-right: 40px;
        }
    }

    &-type {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 80px 0 0;
        border-color: @brand-accent-alt transparent transparent transparent;

        &-icon {
            position: absolute;
            top: -72.5px;
            left: 7.5px;
            font-size: 15px;
            color: #fff;
        }

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            text-align: center;
            color: #fff;
            transform: translate(-11px,-60px) rotate(-45deg);
            transform-origin: bottom;
        }
    }

    &-type-right {
        left: auto;
        right: 0;
        z-index: 1;
        border-width: 0 80px 80px 0;
        border-color: transparent @brand-accent-alt transparent transparent;

        .followup-type-icon {
            left: auto;
            right: -70px;
            top: 10px;
        }

        .followup-type-title {
            left: auto;
            right: 0;
            transform: translate(90px,20px) rotate(45deg);
        }
    }

    &-type-right-alt {
        border-color: transparent @brand-accent transparent transparent;
    }

    &-flow {
        position: relative;
        z-index: 2;
        min-width: 300px;
    }

    &-document-image {
        width: auto;
        max-height: 160px;
    }
}
