// Followup


.followup {
    position: relative;
    overflow-x: auto;
    display: flex;
    width: 100%;

    &-column {
        flex-basis: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }

    &-row {
        white-space: nowrap;

        &-col {
            .make-xs-column(10);
            .make-sm-column(5);
            .make-md-column(4);
            display: inline-block;
            float: none;
            white-space: normal;
            vertical-align: top;

            @media (min-width: @screen-sm-min), (min-width: @screen-md-min) {
                float: none;
            }
        }
    }

    &-link {
        display: block;
        color: #000;

        &:hover,
        &:focus {
            color: #000;
        }
    }

    &-back-link {
        display: block;
        line-height: @line-height-large;

        &-question-mark {
            display: block;
            margin-right: 10px;
            padding: 10px 17px;
        }
    }

    &-well {
        max-height: 320px;
        overflow-y: auto;

        &-link {
            cursor: pointer;

            &:hover {
                border-color: @brand-accent-alt;
            }
        }
    }

    &-timeline {
        &-box {
            position: relative;
            min-width: 300px;

            &-border,
            &-border:hover,
            &-border:focus {
                border: 1px solid @gray-lighter-2;
            }

            &-image {
                float: left;
                margin: 0 1em 1em 0;
            }
        }

        &-count-left {
            transform: rotateY(180deg);

            position: absolute;
            left: 0;
            top: 50%;
            z-index: 1;
            display: block;
            margin-left: -15px;
            margin-top: -20px;
            padding: 10px 17px 10px 15px;
        }

        &-count-right {
            position: absolute;
            left: 100%;
            top: 50%;
            z-index: 1;
            display: block;
            margin-left: -15px;
            margin-top: -20px;
            padding: 10px 17px 10px 15px;
        }
    }

    // Sprites
    &-sprite {
        background: transparent url(../images/followup-sprite.png) no-repeat left top;

        &-question-mark {
            width: 40px;
            height: 40px;
            background-position: 0 0;
        }

        &-timeline-count {
            width: 43px;
            height: 40px;
            background-position: -45px 0;
        }
    }
}
