.lights-out {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: @zindex-modal-background;
    background-color: fade(#000, 80%);
}

.lights-out-content {
    position: relative;
    z-index: @zindex-modal;
}
