.map-static {
    width: 150px;
    height: 150px;
    background-color: @gray-lighter-2;
}

.map-static-small {
    width: 90px;
    height: 90px;
}

.map-static-landscape {
    width: 240px;
    height: 120px;
}

.map-static-right-sm {
    @media screen and (min-width: @screen-sm-min) {
        float: right;
    }
}
