.modal-header-expanded {
    position: relative;
    overflow: hidden;
    padding: 0;
    color: @text-color;
    border-top-left-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;
}

.modal-header-expanded-close {
    position: absolute;
    right: @modal-inner-padding;
    top: @modal-inner-padding;
    z-index: 1;
    margin-top: 0;
}

.modal-title-alt {
    color: inherit;
}
