.modal-header-jumbo {
    position: relative;
    overflow: hidden;
    color: #fff;
    border-bottom: 0;
    background-color: @brand-accent;
    border-top-left-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;

    .modal-title {
        color: inherit;
    }

    .close {
        position: absolute;
        right: @modal-inner-padding;
        top: @modal-inner-padding;
        z-index: 1;
        margin-top: 0;
    }
}
