// Offset

.offset-top {
    margin-top: @line-height-computed;
}

.offset-top-small {
    margin-top: floor((@line-height-computed / 2));
}

.offset-top-large {
    margin-top: 2 * @line-height-computed;
}

.offset-top-label {
    margin-top: @line-height-computed + 5px;
}

.offset-bottom {
    margin-bottom: @line-height-computed;
}

.offset-bottom-small {
    margin-bottom: floor((@line-height-computed / 2));
}

.offset-bottom-large {
    margin-bottom: 2 * @line-height-computed;
}

.offset-bottom-none {
    margin-bottom: 0;
}

.offset-right {
    margin-right: 1em;
}

.offset-right-small {
    margin-right: 0.5em;
}

.offset-left {
    margin-left: 1em;
}

.offset-left-small {
    margin-left: 0.5em;
}

@media (max-width: @screen-xs-max) {
    .offset-bottom-xs-max {
        .offset-bottom();
    }

    .offset-bottom-xs-small {
        .offset-bottom-small();
    }
}
