// Offset


.offset-bottom {
    margin-bottom: @line-height-computed;
}

.offset-top-large {
    margin-top: 2 * @line-height-computed;
}

.offset-bottom-large {
    margin-bottom: 2 * @line-height-computed;
}
