// Overlay


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: @zindex-modal;
    background-color: fade(#fff, 80%);
}

// Append this to body to block scrolling for the time the overlay is open.
.has-overlay {
    overflow: hidden;
}
