.search-results-group {
    padding-left: @grid-gutter-width;
}

.search-result {
    .offset-bottom();
}

.search-result-title {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    color: @blue-dark;
}

.search-result-url {
    font-style: normal;
    color: @state-success-text;
}

.search-result-media {
    max-width: 100px;
}
