// Share

.share-dropdown {
    @width: 120px;
    position: absolute;
    top: 2.5 * @line-height-computed;
    left: 50%;
    z-index: @zindex-dropdown;
    width: @width;
    min-width: @width;
    margin-left: -(@width / 2);
    padding: @line-height-computed / 2;
    text-align: center;
    background-color: @dropdown-bg;
    box-shadow: 0 .2em .8em fade(#000, 30%);

    &:before {
        .caret-up(@dropdown-bg, 20px, 20px);
        position: absolute;
        left: 50%;
        bottom: 100%;
        margin-left: -10px;
    }
}

.share-dropdown > a:focus,
.share-dropdown > a:hover {
    text-decoration: none;
}

.share-dropdown-icon {
    position: relative;
    top: 2px;
}
