// Social Buttons


.social-button {
    .text-hide();
    margin-bottom: @line-height-computed / 2;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;

    &:hover,
    &:focus {
        background-position: left center;
    }

    &:active {
        background-position: left bottom;
    }

    &-google {
        width: 113px;
        height: 32px;
        background-image: url(../images/sign-in-google.png);
    }

    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
        &-google {
            background-image: url(../images/sign-in-google@2x.png);
            background-size: 113px auto;
        }
    }
}
