// Wells


.well {
    &-bordered {
        border: 10px solid @gray-lighter-2;
        border-radius: @border-radius-large;
        background-color: #fff;
        box-shadow: 2px 4px 8px fade(#000, 40%);
    }

    &-fixed-height {
        height: 450px;
    }

    &-bubble {
        position: absolute;
        left: 45px;
        top: -10px;
    }

    &-title-with-bubble {
        text-indent: 5em;
    }
}
