// Wells


.well {
    &-bordered {
        border: 10px solid @gray-lighter-2;
        border-radius: @border-radius-large;
        background-color: #fff;
        box-shadow: 2px 4px 8px fade(#000, 40%);
    }

    &-title {
        font-size: @font-size-h1;
        color: inherit;

        &-with-bubble {
            text-indent: 5em;
        }
    }

    &-bubble {
        position: absolute;
        left: 45px;
        top: -10px;
    }

    &-accent {
        color: #fff;
        background: @brand-accent linear-gradient(to right, darken(@brand-accent, 11%) 0%, lighten(@brand-accent, 5%) 100%);

        .link-alt:hover,
        .link-alt:focus {
            color: @link-alt-color;
        }
    }

    &-fixed-height {
        height: 450px;
    }
}
