//
// Component: Consultation
// --------------------------------------------------


// Consultation preview
.consultation-preview {
	margin-bottom: 1.5em;

	// Title description
	.title {
		position: relative;
		display: block;
		padding: 0;

		// Description
		.description {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			.box-sizing(border-box);
			display: none;
			padding: 1em;
			background-color: @grayLighter;
		}

		// Hover state
		&:hover {
			.description {
				display: block;
			}
		}
	}
}

// Consultation - hero unit
.consultation.hero-unit {
	position: relative;
	min-height: 217px; // title image height
	padding: 2 * @u;

	// Title
	hgroup {
		margin: 1em 160px;
		text-align: center;

		h1 {
			margin-bottom: .25em;
			font-size: 3.5em; // 45px
			line-height: 100%;
		}

		h2 {
			font-size: 1.95em; // 25px
			line-height: 120%;
			color: @black;
		}
	}

	// Image
	.title-image {
		position: absolute;
		left: 2 * @u;
		top: 2 * @u;
	}

	// Label
	.label {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	// Home link
	a[rel="home"] {
		position: absolute;
		right: 2 * @u;
		top: 2 * @u;
	}

	// Share
	.share {
		position: absolute;
		right: 2 * @u;
		top: 6 * @u;
	}
}

// Consultation
.consultation {

}
