//
// Forms
// --------------------------------------------------


// Inputs
// -------------------------

// General input fields
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: .28em .75em; // base height 30px
	color: @inputText;
	border-color: @inputBorderColor;
	.border-radius(@inputBorderRadius);
	background-color: @inputBackground;
	.box-shadow(none);

	// Active state
	&:focus {
		border-color: @inputFocusBorder;
		.box-shadow(none);
	}
}


// Form Field States
// -------------------------

// HTML5 validation states, Bootstrap reset
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
	border-color: @inputBorderColor;
	color: @bodyText;

	// Focus state
	&:focus {
		border-color: @inputFocusBorder;
		.box-shadow(none);
	}
}

// Error
.control-group.error {
	.formFieldState(@errorText, @errorText, @errorBackground);

	// Inputs
	.checkbox,
	.radio,
	input,
	select,
	textarea {

		// Focus state
		&:focus {
			.box-shadow(none);
		}
	}
}


// Forms
// -------------------------

// Vertical form
.form-vertical {

	// Control group
	.control-group {
		margin-bottom: .25em;
	}

	// Form actions
	.form-actions {
		margin: 0;
		padding: .25em 0 0;
		border-top-style: none;
		background: none;

		// Inline actions
		.inline-actions {
			display: inline-block;
			margin-left: 2 * @u;
		}
	}
}


// Input groups
// -------------------------

// Prepended and appended elements
.input-prepend,
.input-append {
	.add-on,
	.btn {
		//.buttonBackground(#eae5e4, #dbd3d0, @bodyText, 0 1px 1px @white); // same settings as large button
	}
}

// Prepended
.input-prepend {

	// Input
	input,
	select,
	.uneditable-input {
		.border-radius(0);
	}

	// Collapse border of prepended elements
	.add-on,
	.btn {
		//margin-right: -1px;
	}

	// The first prepended element
	.add-on:first-child,
	.btn:first-child {
		.border-radius(0);
	}
}

// Appended
.input-append {

	// Input
	input,
	select,
	.uneditable-input {
		.border-radius(0);
	}

	// The last appended element
	.add-on:last-child,
	.btn:last-child {
		.border-radius(0);
	}
}

// Both prepended and appended
.input-prepend.input-append {

	// Input
	input,
	select,
	.uneditable-input {
		.border-radius(0);
	}
}


// Search form
// -------------------------

.form-search {

	// Input
	input.search-query {
		.placeholder(@grayLightest);
		width: 170px;
		padding: .34em .75em;
		color: @bodyText;
		border-style: none;
		border-right: 1px solid @white;
		background-color: @orange;
	}

	// Remove border radius
	input.search-query,
	.input-append .search-query,
	.input-prepend .search-query,
	.input-append .btn,
	.input-prepend .btn {
		.border-radius(0);
	}
}
