//
// Component: Labels
// --------------------------------------------------


.badge-tag {
	.box-sizing(border-box);
	padding-left: .5em;
	font-family: @subheadingFontFamily;
	font-weight: normal;
	font-size: 1.6em;
	line-height: 210%;
	text-align: center;
	color: @bodyText;
	background-color: transparent;
	background-repeat: no-repeat;
}

.badge-tag-small {
	width: 73px;
	height: 52px;
	background-image: url('@{basePath}/images/bubble-small.png');
}
