//
// Component: Labels and badges
// --------------------------------------------------


// Labels
.label {
	font-weight: normal;
	text-shadow: none;
	color: @bodyText;
	.border-radius(0);
	background-color: @blue2;
}

// Badge tags
.badge-tag {
	.box-sizing(border-box);
	padding-left: .5em;
	font-weight: normal;
	font-family: @subheadingFontFamily;
	font-size: 1.6em;
	line-height: 210%;
	text-align: center;
	color: @bodyText;
	background-color: transparent;
	background-repeat: no-repeat;
}

.badge-tag-small {
	width: 73px;
	height: 52px;
	background-image: url('@{basePath}/images/bubble-small.png');
}
