//
// Layout
// --------------------------------------------------

// Using sticky footer by Mystrdat:
// http://mystrd.at/modern-clean-css-sticky-footer/



// HTML & body
// -------------------------

html {
	// Prepare for sticky footer
	position: relative;
	min-height: 100%;
	// end of sticky declarations
}

body {
	// Prepare for sticky footer
	width: 100%;
	margin: 0 0 @footerHeight;
	// end of sticky declarations
	background-color: @bodyBackground;
}


// Document
// -------------------------

.document-wrap {
	padding-top: 1.2em;

	> .container {
		padding: 0 @u;
		color: @white;
		background-color: @turqoise;
		.box-shadow(0 .5em 1em fade(@black, 40%));
	}
}


// Header
// -------------------------

.container > header {

	// Header region
	.header-region {
		padding-top: 1.2em;
	}

	// Search and login
	.form-search,
	.btn-block {
		margin-right: -0.5 * @u;
	}

	.form-search {
		position: relative;
		margin: -1.9em 0 .5em;
	}

	// Login
	.btn-block {
		text-align: left;
	}

	.main-title {
		text-align: center;

		h1 {
			position: relative;
			margin-bottom: 0;
			font-size: 3.5em; // 45px
			line-height: 120%;

			&:after {
				content: '';
				position: absolute;
				left: 67%;
				top: -0.666em;
				width: 83px;
				height: 74px;
				display: block;
				background: transparent url('@{basePath}/images/bubble_mitwirkung.png') no-repeat;
			}
		}
	}

	.hero-unit {
		padding: 2em;
		text-align: center;
		color: @bodyText;
		.border-radius(0);
		background: @grayLightest;

		&.with-teaser {
			margin-bottom: 6.5em; // make place for teaser navigation
		}
	}
}

.introduction {
	margin: 0 10% 1.2em;
	font-weight: bold;
	font-size: 1.923em; // 25px
	line-height: 115%;
	text-align: center;
}

// Teaser
.teaser > li a {
	text-align: center;

	h2 {
		display: inline;
	}
}


// Body copy
// -------------------------

.container > .main {
	min-height: 25em;

	section {
		padding: 1.5em 0;
	}

	.content-holder {
		position: relative; // for positioning of print link
		color: @textColor;
		background-color: @white;
	}

	.main-content {
		padding: 3em 0;

		&.content-holder {
			padding: 3em @u;
		}

		&.span9 {
			width: 680px;
		}
	}

	.print {
		position: absolute;
		right: @u;
		top: 3em;
		color: @bodyText;

		&:hover {
			text-decoration: none;
			color: @linkTextHover;
		}
	}

	aside {
		.box-sizing(border-box);
		padding: 3em 0 3em @u;
		color: @textColor;
	}

	// Right sidebar
	section + aside {
		padding: 6em @u 3em 0; // make place for print link
	}

	.offset-left {
		margin-left: @u;
	}

	.offset-right {
		margin-right: @u;
	}

	.top-link {
		padding: 1em @u;
		text-align: center;
		background-color: @white;

		a {
			color: @bodyText;

			&:hover,
			&:focus {
				text-decoration: none;
				color: @linkTextHover;
			}
		}

		&.transparent {
			background-color: transparent;

			a {
				color: white;

				&:hover,
				&:focus {
					color: @bodyText;
				}
			}
		}
	}
}


// Footer
// -------------------------

// Sticky footer
body > footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: @footerHeight;
	// end of sticky declarations
	background-color: @footerBackground;
	color: @footerText;

	h3 {
		margin-bottom: 1.5em;
		font-weight: normal;
		font-size: 1em;
		line-height: 135%;
	}

	section {
		padding: 1.5em 0;
	}

	a {
		text-decoration: underline;
		color: @footerLinkText;

		&:hover {
			color: @footerLinkTextHover;
		}
	}

	.contact {
		line-height: 135%;
		text-align: right;
	}
}
