//
// Component: Media
// --------------------------------------------------


// Contributions
article.media {
	time {
		display: block;
		margin-bottom: .6em;
	}

	.lead {
		margin-bottom: .5em;
		font-weight: bold;
		font-size: 1em;
		line-height: 150%;
	}

	.actions i {
		position: relative;
		bottom: -0.15em;
	}
}