//
// Component: Wells
// --------------------------------------------------


// Well
.well {
	margin-bottom: 1em;
	padding: 1.5em @u;
	color: @wellText;
	border-style: none;
	.border-radius(@wellBorderRadius);
	background-color: @wellBackground;

	h2,
	h3,
	h4 {
		color: @white;
	}

	h2 {
		font-size: 1.6em;
		line-height: 120%;
	}

	p {
		line-height: 135%;
	}

	a {
		color: @wellLinkText;

		&:hover,
		&:focus {
			color: @wellLinkTextHover;
		}
	}
}

// Large well
.well-large {
	.decoratedBox();
	margin: 2em 0;
	padding: 1em 1.5em;
	color: @white;
	#gradient > .horizontal(darken(@orange, 11%), lighten(@orange, 5%));

	h2 {
		font-size: 2.692em; // 35px
		line-height: 120%;
	}

	.btn {
		.box-shadow(.15em .2em .2em fade(@black, 50%));

		&:hover,
		&:focus,
		&:active,
		&.active {
			color: @btnBackground;
			background-color: @black;
		}
	}
}
