//
// Component: Wells
// --------------------------------------------------


// Well
.well {
	margin-bottom: 1em;
	padding: 1.5em @u;
	color: @wellText;
	border-style: none;
	.border-radius(@wellBorderRadius);
	background-color: @wellBackground;

	h2,
	h3,
	h4 {
		color: @white;
	}

	h2 {
		font-size: 1.6em;
		line-height: 120%;
	}

	p {
		line-height: 135%;
	}

	a {
		color: @wellLinkText;

		&:hover {
			color: @wellLinkTextHover;
		}
	}
}
