// Components: Admin: Layout


body > footer {
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
    color: @gray-light;
    background-color: @gray-darker;

    a {
        color: @gray-light;

        &:hover,
        &:focus {
            text-decoration: none;
            color: #fff;
        }
    }
}

.sticky-footer(3 * @line-height-computed);
