// Components: Admin: Layout


body {
    padding-top: @navbar-height; // make place for fixed navbar

    > footer {
        padding-top: @line-height-computed;
        padding-bottom: @line-height-computed;
        color: @gray-light;
        background-color: @gray-darker;

        a {
            color: @gray-light;

            &:hover,
            &:focus {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.sticky-footer(3 * @line-height-computed);
