// Components: Admin: List Group


.list-group-nested {
    .list-group-item {
        &-heading {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 1em;
        }

        &-nested {
            padding-left: 2 * @padding-large-horizontal;
        }
    }
}
