// Components: Admin: Sections


.section {
    &-header {
        padding-top: 2.5 * @line-height-computed;
        padding-bottom: 2.5 * @line-height-computed;
        background-color: @gray-lighter;

        h1 {
            margin: 0;
        }
    }

    &-content {
        padding-top: 2 * @line-height-computed;
        padding-bottom: 2 * @line-height-computed;
    }
}
