//
// Sticky Footer
//
// Inspired by http://mystrd.at/modern-clean-css-sticky-footer/
//
// Makes page footer stick to the bottom of the screen.


// Sticky footer components to be applied independently on markup:
//
// html {
//     .sticky-footer-wrapper();
// }
//
// body {
//     .sticky-footer-sub-wrapper(5em);
// }
//
// body > footer {
//     .sticky-footer-footer(5em);
// }

.sticky-footer-wrapper() {
    position: relative;
    min-height: 100%;
}

.sticky-footer-sub-wrapper(@footer-height: 10em) {
    width: 100%;
    margin: 0 0 @footer-height;
}

.sticky-footer-footer(@footer-height: 10em) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: @footer-height;
}


// Apply sticky footer on default markup:
//
// <html>
//     <body>
//         <footer>
//         </footer>
//     </body>
// </html>

.sticky-footer(@footer-height: 10em) {
    html {
        .sticky-footer-wrapper();
    }

    body {
        .sticky-footer-sub-wrapper(@footer-height);
    }

    body > footer {
        .sticky-footer-footer(@footer-height);
    }
}
