// Fonts


@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('@{font-path}yanonekaffeesatz-regular-webfont.eot');
    src: url('@{font-path}yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}yanonekaffeesatz-regular-webfont.woff') format('woff'),
        url('@{font-path}yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
        url('@{font-path}yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paytone One';
    src: url('@{font-path}paytoneone-webfont.eot');
    src: url('@{font-path}paytoneone-webfont.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}paytoneone-webfont.woff') format('woff'),
        url('@{font-path}paytoneone-webfont.ttf') format('truetype'),
        url('@{font-path}paytoneone-webfont.svg#paytone_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
