// Fonts


@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(../fonts/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot);
    src: url(../fonts/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot?#iefix) format('embedded-opentype'),
        url(../fonts/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff) format('woff'),
        url(../fonts/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.ttf) format('truetype'),
        url(../fonts/paytone-one-yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paytone One';
    src: url(../fonts/paytone-one-yanone-kaffeesatz/paytoneone-webfont.eot);
    src: url(../fonts/paytone-one-yanone-kaffeesatz/paytoneone-webfont.eot?#iefix) format('embedded-opentype'),
        url(../fonts/paytone-one-yanone-kaffeesatz/paytoneone-webfont.woff) format('woff'),
        url(../fonts/paytone-one-yanone-kaffeesatz/paytoneone-webfont.ttf) format('truetype'),
        url(../fonts/paytone-one-yanone-kaffeesatz/paytoneone-webfont.svg#paytone_oneregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/fira/FiraSans-Heavy.eot);
    src: local('Fira Sans Heavy'),
        url(../fonts/fira/FiraSans-Heavy.eot) format('embedded-opentype'),
        url(../fonts/fira/FiraSans-Heavy.woff) format('woff'),
        url(../fonts/fira/FiraSans-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url(../fonts/droidkufi/DroidKufi-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

.font-family-black() {
    font-family: @font-family-black;

    &:lang(cs),
    &:lang(pl),
    &:lang(ru) {
        font-family: @font-family-black-alt;
        font-weight: 900;
    }

    &:lang(ar) {
        font-family: @font-family-arabic;
        font-weight: 600;
    }
}

.font-family-arabic() {
    &:lang(ar) {
        font-family: @font-family-sans-serif;
        font-weight: 400;
    }
}
