// Components: Article Preview


.admin-preview-toolbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	padding: 2em (2 * @u);
	text-align: center;
	background-color: fade(#fd5, 95%);
	.box-shadow(0 0 1.5em #000);

	h2 {
		margin-bottom: 0;
		color: #000;

		i {
			color: @orange;
		}
	}

	form,
	form dl {
		margin: 0;
	}
}

.admin-preview-form {
	position: absolute;
	right: 2 * @u;
	top: @baseLineHeight;
}
