// Header


.header {
    &-brand {
        display: inline-block;
        margin-bottom: @line-height-computed;

        > img {
            &:extend(.img-responsive);
            width: @header-logo-width;
        }
    }

    &-nav {
        margin: 0 auto @line-height-computed;
    }

    &-widgets {
        margin-bottom: @line-height-computed;
    }

    &-box {
        margin-bottom: @line-height-computed;
        padding: @line-height-computed;
        text-align: center;
        color: @header-text-color;
        background-color: @header-bg;

        &-title {
            margin-bottom: @line-height-computed;
            font-size: 2em;

            > a {
                text-decoration: none;
                color: @header-box-title-color;

                &:hover,
                &:focus {
                    color: @header-box-title-hover-color;
                }
            }
        }

        &-description {
            display: none;
        }
    }

    @media (min-width: @grid-float-breakpoint) {
        &-brand {
            position: relative;
            z-index: 2;
        }

        &-nav,
        &-widgets {
            position: absolute;
            right: 0;
            margin: 0;
        }

        &-nav {
            top: -@line-height-computed;
            left: 0;
            z-index: 1;

            > .nav > li > a {
                font-size: 1.4em;
            }
        }

        &-widgets {
            top: -0.8em;
            z-index: 1;
            width: 220px;
            padding-left: @grid-gutter-width / 2;
            padding-right: @grid-gutter-width / 2;
        }

        &-box {
            &.has-nav-list {
                margin-bottom: 4 * @line-height-computed;
                padding-bottom: 1px;
            }

            &-title {
                font-size: 4em;
            }

            &-description {
                .center-block();
                display: block;
                max-width: @line-length-base;
            }
        }
    }

    @media (min-width: @screen-md-min) {
        &-nav {
            > .nav > li > a {
                padding: .2em .2em .1em;
                font-size: 1.85em;
            }
        }

        &-widgets {
            width: 250px;
        }

        &-box {
            padding: 2 * @line-height-computed;

            &-title {
                font-size: 6em;
            }
        }
    }
}
