// Forms

// Picked relevant rules from Synergic UI.


.text-danger-block {
    .alert();
    .alert-danger();
    display: block;
    list-style: none; // reset error lists

    .form-group &:not(:only-child) {
        margin-top: @line-height-computed / 2;
    }
}

label.required:after {
    content: ' *';
}
