/**
 * DBJR mail styles
 * ZURB Ink overrides
 */


a {
    color: #0196bc;
    text-decoration: none;
}

a:hover {
    color: #fc9026 !important;
}

a:active {
    color: #0196bc !important;
}

a:visited {
    color: #0196bc !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #0196bc;
}

.template-label {
    font-weight: bold;
}

.callout .wrapper {
    padding-bottom: 20px;
}

.callout .panel {
    background: #ECF8FF;
    border-color: #b9e5ff;
}

.copy .wrapper {
    padding-bottom: 10px;
}

.footer .wrapper {
    background: #f7f7f7;
}

.footer h6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.columns .text-pad {
    padding-left: 20px;
    padding-right: 20px;
}

table.columns .left-text-pad {
    padding-left: 20px;
}

table.columns .right-text-pad {
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    table[class="body"] .text-pad {
        padding-left: 10px;
        padding-right: 10px;
    }

    table[class="body"] .right-text-pad {
        padding-left: 10px !important;
    }

    table[class="body"] .left-text-pad {
        padding-right: 10px !important;
    }
}
