.voting-rating {
    position: relative;
    z-index: 1;
    margin-bottom: -30px;
}

.voting-rating li {
   width: 95px;
}
.voting-rating li span.counter {
	display: block;
	text-align: center;
}

.vote-basket {
	color: black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    background: none repeat scroll 0 0 #999999;
    color: #000000;
    left: 60px;
    padding: 1em;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 82%;
    display: none;
    z-index: 2000;
}

.vote-basket h3 {
	font: 1.923em/90% "Yanone Kaffeesatz",sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.vote-basket h3 span {
	font: 0.6em/90% "Yanone Kaffeesatz",sans-serif;
	float: right;
	padding: 0 0.8em 0 0;
	
}

.vote-basket p.basket-info {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background: url(../images/voting-rate-superbtn.png) no-repeat right;
	min-height: 62px;
	margin-top: -1em;
	padding-top: 1em;
	padding-right: 100px;
}

.vote-basket ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

.vote-basket ul li {
	width: 100%;
	height: auto;
	margin: 0;
	text-align: left;
	list-style: none;
	color: white;
	border-top: 1px solid white;
	padding: 1em 0 1em 0;
}


.vote-basket ul li p {
	float: left;
	width: 88%;
}

.vote-basket ul li a.voting-minus {
	float: left;
	height: 33px;
	overflow: hidden;
	width: 7%;
	margin: 0 0 0 3.5%;
}

a.view-basket {
	background: url(../images/basket-toggle.png) no-repeat bottom center;
	text-indent: 100em;
	height: 20px;
	display: block !important;
	overflow: hidden;
}

div.thesis {
	position: relative;
}
p.voting-expl {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    background: none repeat scroll 0 0 #999999;
   color: #FFFFFF;
    left: 91px;
    margin-top: -13px;
    position: absolute;
    width: 86%;
    z-index: 1500;
    text-align: left;
    padding: 1em;
    line-height: 1.4em;
    display: none;
}

	
