//
// Component: Labels and badges
// --------------------------------------------------


// Labels
.label {
	font-weight: normal;
	text-shadow: none;
	color: @bodyText;
	.border-radius(0);
	background-color: @blue2;
}

// Sticked labels
.label.sticker {
	.hide-text();
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 110px;
	height: 90px;
	display: block;
	padding: 0;
	.border-radius(0);
	background-color: transparent;
	background-repeat: no-repeat;

	&.label-bald-abstimmen {
		background-image: url('@{basePath}/images/label_baldabstimmen.png');
	}

	&.label-ergebnisse {
		background-image: url('@{basePath}/images/label_ergebnisse.png');
	}

	&.label-mitmachen {
		background-image: url('@{basePath}/images/label_mitmachen.png');
	}

	&.label-nur-noch-heute {
		background-image: url('@{basePath}/images/label_nurnochheute.png');
	}

	&.label-reaktion {
		background-image: url('@{basePath}/images/label_reaktion.png');
	}

	&.label-mitmachen-black {
		left: auto;
		right: 0;
		width: 104px;
		height: 126px;
		font-size: 1em;
		background-image: url('@{basePath}/images/label_mitmachen-black.png');
	}

	&.label-reaktion-alt {
		left: auto;
		right: -0.85em; // well border width
		top: -0.85em; // well border width
		width: 104px;
		height: 126px;
		background-image: url('@{basePath}/images/label_reaktion-alt.png');
	}
}

// Badge tags
.badge-tag {
	.box-sizing(border-box);
	padding-left: .5em;
	font-weight: normal;
	font-family: @subheadingFontFamily;
	font-size: 1.6em;
	line-height: 210%;
	text-align: center;
	color: @bodyText;
	background-color: transparent;
	background-repeat: no-repeat;
}

.badge-tag-small {
	width: 73px;
	height: 52px;
	background-image: url('@{basePath}/images/bubble-small.png');
}
