#sharebtn-holder {
  text-align: right;
  position: absolute;
  right: 28px;
  top: 120px;
  
}
.social-share-btn {
  position: absolute;
  height: 21px;
  right: 0;
}
.social-share-btn a{
 outline: 0 none;
}
.social-share-btn.fb {
  width: 110px;
  top: -18px;
  right:-10px;
  
  
}
.social-share-btn.tw {
  top: 20px;
  right: -7px;
  width: 68px;
}
.social-share-btn.gp {
  top: 52px;
  width: 39px;
  right:3px;
}
