#sharebtn-holder {
  text-align: right;
  position: absolute;
  right: 28px;
  top: 120px;
  
}
.social-share-btn {
  position: absolute;
  height: 21px;
  right: 0;
}
.social-share-btn.fb {
  width: 110px;
  top: -11px;
  right:-25px;
  overflow:hidden;
  
}
.social-share-btn.tw {
  top: 20px;
  width: 68px;
}
.social-share-btn.gp {
  top: 52px;
  width: 39px;
}
