//
// Component: Thumbnails
// --------------------------------------------------


// Base thumbnails
.thumbnails,
ul.thumbnails {
	margin-top: 3em;
}

// Remove bullets for content area
ul.thumbnails {
	margin-left: -20px;
}

ul.thumbnails > li {
	margin-left: 20px;

	&:before {
		display: none;
	}
}

.thumbnail {
	.decoratedBox();
	padding: .75em;

	h2 {
		font-size: 1.6em;
		line-height: 110%;
		color: @blue;
	}
}

// Contributions / questions
.questions {
	margin-bottom: 0;
}

.questions > li {
	margin-bottom: 3em;
}

.questions .span4 {
	width: 285px;
}

.questions .thumbnail {
	position: relative;
	height: 21 * @u;

	.badge {
		position: absolute;
		left: .5em;
		top: -1.2em;
	}

	h2 {
		max-height: 4.3em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.badge + h2 {
		text-indent: 4em; // make place for badge
	}

	a {
		text-decoration: none;
	}

	a article {
		line-height: 140%;
		color: @bodyText;

		time {
			margin-bottom: 0;
			color: @grayLight;
		}

		p {
			max-height: 3em;
			overflow: hidden;
			font-weight: bold;
			text-overflow: ellipsis;
		}
	}

	a:hover,
	a:focus {
		article {
			background-color: @grayLightest;
		}
	}

	.btn {
		position: absolute;
		left: .5em;
		right: .5em;
		bottom: .5em;
	}
}
